# Additional config switches for KMSAN kernels.
# To be used by kmsan_from_kasan_config.sh

# Disable KASAN:
# CONFIG_SLAB is not set
# CONFIG_KASAN is not set

# Enable KMSAN:
# CONFIG_VMAP_STACK is not set
CONFIG_KMSAN=y
CONFIG_SLUB=y

# Avoid reboot loop in instrumented kernel:
# CONFIG_PREEMPT is not set
CONFIG_PREEMPT_NONE=y
# CONFIG_PARAVIRT is not set

# Known errors. TODO(glider): fix those and enable the configs below.
# CONFIG_MTD is not set
# CONFIG_SND_HDA_INTEL is not set
# CONFIG_HARDENED_USERCOPY is not set

# KMSAN doesn't support ORC unwinder (https://github.com/google/kmsan/issues/48).
# CONFIG_UNWINDER_ORC is not set
CONFIG_UNWINDER_FRAME_POINTER=y

# Disable debug configs enabled in KASAN configs:
# CONFIG_BLK_DEBUG_FS is not set
# CONFIG_DEBUG_DEVRES is not set
# CONFIG_DYNAMIC_DEBUG is not set
# CONFIG_DEBUG_OBJECTS is not set
# CONFIG_DEBUG_VM is not set
# CONFIG_DEBUG_VIRTUAL is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_DEBUG_PER_CPU_MAPS is not set
# CONFIG_PROVE_LOCKING is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_MUTEXES is not set
# CONFIG_DEBUG_WW_MUTEX_SLOWPATH is not set
# CONFIG_DEBUG_RWSEMS is not set
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
# CONFIG_DEBUG_KOBJECT is not set
# CONFIG_DEBUG_PI_LIST is not set
# CONFIG_DEBUG_SG is not set
# CONFIG_DEBUG_NOTIFIERS is not set
# CONFIG_DEBUG_CREDENTIALS is not set
