### Common config fragments required by syzbot for all kernels

### Machine processor and bus support
CONFIG_MCORE2=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_PROCESSOR_SELECT=y
CONFIG_SMP=y
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_HT_IRQ is not set
CONFIG_BASE_FULL=y

### We don't need lots, but some configs set it to 2 which is too low.
CONFIG_NR_CPUS=8

### syzbot uses own compiler, it usually produces new warnings.
# CONFIG_ERROR_ON_WARNING is not set

### Block device support
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI=y
CONFIG_SATA_AHCI=y

### Virtualization support
CONFIG_HYPERVISOR_GUEST=y
CONFIG_HZ_100=y
CONFIG_KVM_CLOCK=y
CONFIG_KVM_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_PARAVIRT_SPINLOCKS=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI_VIRTIO=y
CONFIG_VIRTIO_BLK_SCSI=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y

### Intel network support
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_INTEL=y
CONFIG_E1000=y

### Serial console support
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_SERIAL_8250_NR_UARTS=32
CONFIG_SERIAL_8250_MANY_PORTS=y
CONFIG_SERIAL_8250_SHARE_IRQ=y
CONFIG_TTY=y
# CONFIG_SERIAL_8250_DEPRECATED_OPTIONS is not set

### Coverage features
CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_KCOV_ENABLE_COMPARISONS=y
CONFIG_DEBUG_FS=y
# CONFIG_RANDOMIZE_BASE is not set

### For detection of supported syscalls
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_KALLSYMS_ABSOLUTE_PERCPU=y
CONFIG_KALLSYMS_BASE_RELATIVE=y

### KPROBES pollute coverage and needlessly slow down execution
# CONFIG_KPROBES is not set
### Slows down execution and sometimes fuzzer actually enables it
# CONFIG_FUNCTION_TRACER is not set
### Slows down execution
# CONFIG_RETPOLINE is not set
# CONFIG_PAGE_TABLE_ISOLATION is not set

### For 'namespace' sandbox
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y

### Debugging features (from kernel_configs.md, do not alpha sort)
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_PANIC_TIMEOUT=86400
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_REFCOUNT_FULL=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_DEBUG_INFO=y
CONFIG_BUG_ON_DATA_CORRUPTION=y

### More debugging features
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PLIST=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y

### This config does not add any debug checks (only debug output).
# CONFIG_DEBUG_KOBJECT is not set

### Fault injection
CONFIG_FAULT_INJECTION=y
CONFIG_FAILSLAB=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAIL_MAKE_REQUEST=y
CONFIG_FAIL_IO_TIMEOUT=y
CONFIG_FAIL_FUTEX=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y

### KASAN support
CONFIG_KASAN=y
CONFIG_KASAN_INLINE=y
CONFIG_KASAN_STACK_ENABLE=y
CONFIG_SPARSEMEM_VMEMMAP=y

### 32-on-64 support
CONFIG_IA32_EMULATION=y

### Options enabled to boot Debian Wheezy
CONFIG_X86_VSYSCALL_EMULATION=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_INOTIFY_USER=y
CONFIG_UEVENT_HELPER=y

### Options enabled to boot Debian Stretch
CONFIG_CONFIGFS_FS=y
CONFIG_SECURITYFS=y

### Enable some control groups for better sandboxing
CONFIG_CGROUP_PIDS=y
CONFIG_MEMCG=y

### If syzkaller gets to /dev/{mem,kmem,ioport}, it will destroy the machine.
### It managed to do so with some mount's, chdir's and bogus file names.
### These are not needed for fuzzing, so completely disabling them is
### the simplest and the most reliable option.
# CONFIG_DEVMEM is not set
# CONFIG_DEVKMEM is not set
# CONFIG_DEVPORT is not set

### Print thread and CPU ids
CONFIG_PRINTK_CALLER=y

### BTF requires pahole (dwarves package on some distros) version 1.13,
### while syzbot distros only provide 1.9, this breaks kernel builds.
### See https://syzkaller.appspot.com/bug?id=cce16fbb0be2ed0c6f40459226202a8c06797536
# CONFIG_DEBUG_INFO_BTF is not set

# Disable magic SysRq completely, as it can be reached over USB and through tty.
# CONFIG_MAGIC_SYSRQ is not set

### Create binder device per test process for isolation.
CONFIG_ANDROID_BINDER_DEVICES="binder0,binder1,binder2,binder3,binder4,binder5,binder6,binder7,binder8,binder9,binder10,binder11,binder12,binder13,binder14,binder15"
### This should be disabled so that /dev/binder* devices are created,
### otherwise they won't be created. BinderFS actually provides a better way
### to create isolated instances, but if we enable it we also need to mount binderfs
### in executors/reproducers, etc.
# CONFIG_ANDROID_BINDERFS is not set

### Loop device per test process.
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16
### These help to test wifi.
CONFIG_MAC80211_HWSIM=y
CONFIG_VIRT_WIFI=y

### ORC unwinder allows to unwind exception and interrupt stacks.
CONFIG_UNWINDER_ORC=y
# CONFIG_UNWINDER_FRAME_POINTER is not set
