{{/*
Copyright 2017 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

Main page.
*/}}

<!doctype html>
<html>
<head>
	{{template "head" .Header}}
	<title>syzbot</title>
</head>
<body>
	{{template "header" .Header}}
	{{if $.Decommissioned}}<h1>This kernel is DECOMMISSIONED</h1>{{end}}
	{{if or (not $.BugFilter.Filter.Any) ($.BugFilter.Filter.ManagerName)}}
		{{template "manager_list" $.Managers}}
	{{end}}
	{{template "bug_filter" $.BugFilter}}
	{{range $group := $.Groups}}
		<details open>
			<summary class="bug_list_caption">
				{{$group.Caption}} ({{len $group.Bugs}})
				<a id="{{$group.Fragment}}" href="#{{$group.Fragment}}">🔗</a>
			</summary>
			{{template "bug_list" $group}}
		</details>
	{{end}}
</body>
</html>
