{{/*
Copyright 2017 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

Main page.
*/}}

<!doctype html>
<html>

<head>
	{{template "head" .Header}}
	<title>syzbot</title>
</head>

<body>
	{{template "header" .Header}}
	<main style="margin-top: 80px;">
		{{if $.Decommissioned}}<h1>This kernel is DECOMMISSIONED</h1>{{end}}
		{{if or (not $.BugFilter.Filter.Any) ($.BugFilter.Filter.ManagerName)}}
		<div class="container row justify-content-start">
			<div class="col col-md-12 mt-3">
				<div class="table-responsive">
				{{template "manager_list" $.Managers}}
				</div>
			</div>
		</div>
		{{end}}
		<div class="container row justify-content-start">
			<div class="col col-md-12 mt-3">
				<div class="table-responsive">
					{{template "bug_filter" $.BugFilter}}
				</div>
			</div>
		</div>
		{{range $group := $.Groups}}
		<div class="container row justify-content-start">
			<div class="col col-md-12 mt-3">
				<div class="table-responsive">
					{{template "bug_list" $group}}
				</div>
			</div>
		</div>
		{{end}}
	</main>
</body>
</html>