{{/*
Copyright 2017 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

Main page.
*/}}


{{/*
This file defines the main page's content, which will be injected into the base layout.
*/}}
{{template "layouts/base.html" .}}

{{define "content"}}
    {{/* This is the content that will be placed inside the "content" block in base.html */}}
    {{if $.Decommissioned}}<h1>This kernel is DECOMMISSIONED</h1>{{end}}
    {{if or (not $.BugFilter.Filter.Any) ($.BugFilter.Filter.ManagerName)}}
        {{template "manager_list" $.Managers}}
    {{end}}
    {{template "bug_filter" $.BugFilter}}
    {{range $group := $.Groups}}
        {{template "bug_list" $group}}
    {{end}}
{{end}}