{{/*
Copyright 2017 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

Main page.
*/}}

<!doctype html>
<html>
<head>
	{{template "head" .Header}}
	<title>syzbot</title>
</head>
<body>
	{{template "header" .Header}}

	{{if $.FixedLink}}
		<a href="{{$.FixedLink}}">fixed bugs ({{$.FixedCount}})</a>
	{{end}}
	{{template "manager_list" $.Managers}}
	{{range $group := $.Groups}}
		{{template "bug_list" $group}}
	{{end}}
</body>
</html>
