{{/*
Copyright 2019 syzkaller project authors. All rights reserved.
Use of this source code is governed by Apache 2 LICENSE that can be found in the LICENSE file.

Terminal bugs page (fixed, invalid).
*/}}

<!doctype html>
<html>
<head>
	{{template "head" .Header}}
	<title>syzbot</title>
</head>
<body>
	{{template "header" .Header}}


	{{if .Stats}}
		{{with .Stats}}
Out of <b>{{.Total}}</b> bugs, <b>{{.AutoObsoleted}}</b> were automatically obsoleted (<b>{{.ReproObsoleted}}</b> due to revoked reproducers), <b>{{.UserObsoleted}}</b> were invalidated by users.<br />
		{{end}}
	{{end}}

	{{template "bug_filter" $.BugFilter}}
	{{template "bug_list" .Bugs}}
</body>
</html>
