language: go
dist: xenial

go:
  - "1.11"
  - "1.12"

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod

before_install:
  # xenial packages are broken and do no allow to cross-compile for both 386 and arm.
  # 386 requires gcc-multilib installed and arm requires gcc-arm-linux-gnueabi,
  # but these packages are conflicting. This is a hacky way to install 386 headers.
  - sudo dpkg --add-architecture i386
  - sudo apt-get update
  - sudo apt-get install -y -q linux-libc-dev:i386 lib32gcc-5-dev lib32stdc++-5-dev

install: true

script:
  - make install_prerequisites
  - make presubmit

after_success:
  - bash <(curl -s https://codecov.io/bash)

# If the build fails because some code in not formatted, it's nice to see the diffs after formatting.
after_failure:
  - git diff --name-only
  - git diff

jobs:
  include:
    - stage: Fuzzit (Fuzzing)
      if: branch = master AND type IN (push)
      go: 1.12.x
      script:
        - ./fuzzit.sh fuzzing
    - stage: Fuzzit (Sanity)
      if: type IN (pull_request)
      go: 1.12.x
      script:
        - ./fuzzit.sh sanity
