{{/*
Reusable header component for all pages.
*/}}
<nav class="navbar navbar-expand-xxl fixed-top bg-light shadow">
    <div class="container-fluid"> <a class="navbar-brand rounded" href="/{{$.Namespace}}">syzbot</a> <button
            class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <select class="form-select" aria-label="Default select example"
                    onchange="window.location.href = '/' + this.value + '{{.Subpage}}';">
                    {{if .Admin}}
                    <option value="admin" {{if eq $.Namespace "admin" }}selected="1" {{end}}>Admin</option>
                    {{end}}
                    {{- range $ns := .Namespaces}}
                    <option value="{{$ns.Name}}" {{if eq $.Namespace $ns.Name}}selected="1" {{end}}>
                        {{- $ns.Caption -}}
                    </option>
                    {{- end -}}
                </select>
                {{if not (eq .URLPath "/admin")}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Bugs
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/{{$.Namespace}}">Open
                                <span class="badge rounded-pill text-bg-secondary">
                                    {{$.BugCounts.Open}}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/{{$.Namespace}}/fixed">Fixed
                                <span class="badge rounded-pill text-bg-secondary">
                                    {{$.BugCounts.Fixed}}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/{{$.Namespace}}/invalid">Invalid
                                <span class="badge rounded-pill text-bg-secondary">
                                    {{$.BugCounts.Invalid}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Kernel Health
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Fixing Progress</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Missing Backports
                                <span class="badge rounded-pill text-bg-secondary">
                                    {{$.MissingBackports}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                {{if .ShowSubsystems}}
                <li class="nav-item"> <a class="nav-link" href="/{{$.Namespace}}/subsystems">Subsystems</a> </li>
                {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Graphs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/{{$.Namespace}}/graph/found-bugs">Bugs/Month</a></li>
                        <li><a class="dropdown-item" href="/{{$.Namespace}}/graph/lifetimes">Bug Lifetimes</a></li>
                        <li><a class="dropdown-item" href="/{{$.Namespace}}/graph/fuzzing">Fuzzing</a></li>
                    </ul>
                </li>
                {{if .ShowCoverageMenu}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Coverage
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/{{$.Namespace}}/coverage?period=month">Repo Heatmap</a></li>
                    </ul>
                </li>
                {{end}}
                {{end}}
            </ul>
            <span class="navbar-text">
                {{if .Admin}}
                <a class="btn btn-outline-secondary btn-sm" href="/admin" role="button">admin</a>
                {{end}}
                {{if .LoginLink}}
                <a class="btn btn-outline-secondary btn-sm" href="{{.LoginLink}}">sign-in</a>
                {{end}}
                <a class="btn btn-outline-secondary btn-sm" href="https://groups.google.com/forum/#!forum/syzkaller"
                    target="_blank">mailing list</a>
                <a class="btn btn-outline-secondary btn-sm" href="https://github.com/google/syzkaller"
                    target="_blank">source</a>
                <a class="btn btn-outline-secondary btn-sm"
                    href="https://github.com/google/syzkaller/blob/master/docs/syzbot.md" target="_blank">docs</a>
            </span>
        </div>
    </div>
</nav>
