<!doctype html>
<html>
<head>
	<title>Syzkaller Dashboard</title>
	<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
	{{template "header" .Header}}

	<form action="/bug?id={{.ID}}" method="post">
		<table>
			<tr>
				<td>Title:</td>
				<td><input name="title" type="text" size="200" maxlength="200" value="{{.Title}}" required {{if .Closed}}disabled{{end}}/></td>
			</tr>
			<tr>
				<td>Status:</td>
				{{if .Closed}}
					<td>{{.Status}}</td>
				{{else}}
					<td><select name="status">
						<option value="new" {{if eq .Status "new"}}selected{{end}}>New</option>
						<option value="claimed" {{if eq .Status "claimed"}}selected{{end}}>Claimed</option>
						<option value="reported" {{if eq .Status "reported"}}selected{{end}}>Reported</option>
						<option value="fixed" {{if eq .Status "fixed"}}selected{{end}}>Fixed</option>
						<option value="unclear" {{if eq .Status "unclear"}}selected{{end}}>Unclear</option>
					</select></td>
				{{end}}
			</tr>
			<tr>
				<td>Crashes:</td>
				<td>{{.NumCrashes}}</td>
			</tr>
			<tr>
				<td>Time:</td>
				<td>{{formatTime .LastTime}} - {{formatTime .FirstTime}}</td>
			</tr>
			<tr>
				<td>Happens on:</td>
				<td>{{.Managers}}</td>
			</tr>
			<tr>
				<td>Report link:</td>
				<td><input name="report_link" type="text" size="200" maxlength="1000" value="{{.ReportLink}}" {{if .Closed}}disabled{{end}}/></td>
			</tr>
			<tr>
				<td>CVE:</td>
				<td><input name="cve" type="text" size="200" maxlength="100" value="{{.CVE}}" {{if .Closed}}disabled{{end}}/></td>
			</tr>
			<tr>
				<td>Comment:</td>
				<td><input name="comment" type="text" size="200" maxlength="4000" value="{{.Comment}}" {{if .Closed}}disabled{{end}}/></td>
			</tr>
		</table>
		<input name="ver" type="hidden" value="{{.Version}}"/>
		{{if .Closed}}
			<input type="submit" name="action" value="Reopen" class="button"/>
		{{else}}
			<input type="submit" name="action" value="Update" class="button"/>
			<input type="submit" name="action" value="Close" class="button" title="fixed and is not happening anymore
new crashes won't be associated with this bug
and instead produce a new bug"/>
			<input type="submit" name="action" value="Delete" class="button" title="trash/not interesting
new crashes will produce a new bug"/>
		{{end}}
		<b>{{.Message}}</b>
	</form>
	<br>

	<form action="/bug?id={{$.ID}}" method="post">
		Merge into:
		<select name="bug_id">
			{{range $b := $.AllBugs}}
				<option value="{{$b.ID}}">{{$b.Title}}</option>
			{{end}}
		</select>
		<input type="submit" name="action" value="Merge" class="button"/>
		<input name="ver" type="hidden" value="{{.Version}}"/>
	</form>
	<br>

	{{if $.Groups}}
	<table>
		<caption>Crash groups:</caption>
		{{range $g := $.Groups}}
			<tr>
				<td>{{$g.Title}}</td>
				<td>
					<form action="/bug?id={{$.ID}}" method="post">
						<input name="hash" type="hidden" value="{{$g.Hash}}"/>
						<input type="submit" name="action" value="Unmerge" class="button"/>
					</form>
				</td>
			</tr>
		{{end}}
	</table>
	<br>
	{{end}}

	{{if $.Patches}}
	<table>
		{{range $p := $.Patches}}
			<tr>
				<td>Patch:</td>
				<td><a href="/text?id={{$p.Diff}}">{{$p.Title}}</a></td>
				<td>
					<form action="/bug?id={{$.ID}}" method="post">
						<input name="title" type="hidden" value="{{$p.Title}}"/>
						<input type="submit" name="action" value="Delete patch" class="button"/>
					</form>
				</td>
			</tr>
		{{end}}
	</table>
	<br>
	{{end}}

	<form action="/bug?id={{$.ID}}" method="post">
		<p><textarea name="patch" cols="88" rows="10" required></textarea></p>
		<input type="submit" name="action" value="Add patch" class="button"/>
	</form>
	<br>

	{{if $.Repros}}
	<table class="list_table">
		<caption>Reproducers:</caption>
		<tr>
			<th>Title</th>
			<th>Manager</th>
			<th>Time</th>
			<th>Tag</th>
			<th>Opts</th>
			<th>Report</th>
			<th>Prog</th>
			<th>C prog</th>
		</tr>
		{{range $c := $.Repros}}
			<tr>
				<td class="title">{{$c.Title}}</td>
				<td class="manager">{{$c.Manager}}</td>
				<td class="time">{{formatTime $c.Time}}</td>
				<td class="tag">{{$c.Tag}}</td>
				<td class="opts" title="{{$c.Opts}}">{{$c.Opts}}</td>
				<td class="report">{{if $c.Report}}<a href="/text?id={{$c.Report}}">report</a>{{end}}</td>
				<td class="prog">{{if $c.Prog}}<a href="/text?id={{$c.Prog}}">prog</a>{{end}}</td>
				<td class="cprog">{{if $c.CProg}}<a href="/text?id={{$c.CProg}}">C prog</a>{{end}}</td>
			</tr>
		{{end}}
	</table>
	<br>
	{{end}}

	{{template "crash_list" $.Crashes}}
	<br>
</body>
</html>
