{{define "header"}}
	<header id="topbar">
		<table class="position_table">
			<tr>
				<td>
					<h1><a href="/">syzkaller</a></h1>
					{{.Found}} bugs found, {{.Fixed}} bugs fixed, {{.Crashed}} kernels crashed
				</td>
				<td class="search">
					<form action="/search">
						<input name="query" type="text" size="30" maxlength="1000" value="{{.Query}}" required/>
						<input type="submit" value="Search reports" class="button"/>
					</form>
					<br>
					<a href="https://github.com/google/syzkaller/wiki/Found-Bugs" target="_blank">found bugs</a> |
					<a href="https://groups.google.com/forum/#!forum/syzkaller" target="_blank">mailing list</a> |
					<a href="https://github.com/google/syzkaller" target="_blank">github</a>
				</td>
			</tr>
		</table>
	</header>
{{end}}

{{define "crash_list"}}
	<table class="list_table">
		<caption>{{if .Title}}<a href="{{.Link}}">{{.Title}}</a>{{else}}Crashes:{{end}}</caption>
		<tr>
			<th>Title</th>
			<th>Manager</th>
			<th>Time</th>
			<th>Tag</th>
			<th>Log</th>
			<th>Report</th>
		</tr>
		{{range $c := .List}}
			<tr>
				<td class="title">{{$c.Title}}</td>
				<td class="managers" title="{{$c.Manager}}">{{$c.Manager}}</td>
				<td class="time">{{formatTime $c.Time}}</td>
				<td class="tag">{{$c.Tag}}</td>
				<td class="log">{{if $c.Log}}<a href="/text?id={{$c.Log}}">log</a>{{end}}</td>
				<td class="report">{{if $c.Report}}<a href="/text?id={{$c.Report}}">report</a>{{end}}</td>
			</tr>
		{{end}}
	</table>
{{end}}
