{{define "bug_table"}}
	<table class="list_table">
		<caption>{{.Name}} ({{len $.Bugs}}):</caption>
		<tr>
			<th>Title</th>
			<th>Count</th>
			<th>Repro</th>
			<th>Time</th>
			<th>Happens on</th>
		</tr>
		{{range $b := $.Bugs}}
			<tr>
				<td class="title"><a href="/bug?id={{$b.ID}}" title="{{$b.Comment}}">{{$b.Title}}</a></td>
				<td class="count">{{$b.NumCrashes}}</td>
				<td class="repro">{{$b.Repro}}</td>
				<td class="time">{{formatTime $b.LastTime}}</td>
				<td class="managers" title="{{$b.Managers}}">{{$b.Managers}}</td>
			</tr>
		{{end}}
	</table>
{{end}}

<!doctype html>
<html>
<head>
	<title>Syzkaller Dashboard</title>
	<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
	{{template "header" .Header}}

	{{range $g := $.BugGroups}}
		{{if $g.Bugs}}
			{{template "bug_table" $g}} <br>
		{{end}}
	{{end}}
</body>
</html>
