#topbar {
	padding: 5px 10px;
	background: #E0EBF5;
}

#topbar a {
	color: #375EAB;
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	color: #375EAB;
	font-weight: bold;
}

.navigation_tab {
	border: 1px solid black;
	padding: 4px;
	margin: 4px;
}

.navigation_tab_selected {
	font-weight: bold;
	border: 3px solid black;
	padding: 4px;
	margin: 4px;
}

.position_table .navigation {
	padding-top: 15px;
	padding-bottom: 6px;
}

.position_table .navigation-right {
	padding-top: 15px;
	text-align: right;
}

table {
	border: 1px solid #ccc;
	margin: 20px 5px;
	border-collapse: collapse;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

table caption {
	font-weight: bold;
}

table td, table th {
	vertical-align: top;
	padding: 2px 8px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.namespace {
	font-weight: bold;
	font-size: large;
	color: #375EAB;
}

.position_table {
	border: 0px;
	margin: 0px;
	width: 100%;
	border-collapse: collapse;
}

.position_table td, .position_table tr {
	vertical-align: center;
	padding: 0px;
}

.position_table .namespace_td {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
}

.position_table .search {
	text-align: right;
}

.list_table td, .list_table th {
	border-left: 1px solid #ccc;
}

.list_table th {
	background: #F4F4F4;
}

.list_table tr:nth-child(2n) {
	background: #F4F4F4;
}

.list_table tr:hover {
	background: #ffff99;
}

.list_table .namespace {
	width: 100pt;
	max-width: 100pt;
}

.list_table .title {
	width: 350pt;
	max-width: 350pt;
}

.list_table .commit_list {
	width: 500pt;
	max-width: 500pt;
}

.list_table .tag {
	font-family: monospace;
	font-size: 8pt;
	max-width: 60pt;
}

.list_table .opts {
	width: 40pt;
	max-width: 40pt;
}

.list_table .status {
	width: 250pt;
	max-width: 250pt;
}

.list_table .patched {
	width: 60pt;
	max-width: 60pt;
	text-align: center;
}

.list_table .kernel {
	width: 80pt;
	max-width: 80pt;
}

.list_table .maintainers {
	max-width: 300pt;
	white-space: normal;
}

.list_table .result {
	width: 60pt;
	max-width: 200pt;
}

.list_table .stat {
	width: 55pt;
	font-family: monospace;
	text-align: right;
}

.list_table .discussions {
	font-family: monospace;
	text-align: left;
}

.list_table .bisect_status {
	width: 75pt;
	max-width: 75pt;
	font-family: monospace;
	text-align: right;
}

.list_table .date {
	width: 60pt;
	max-width: 60pt;
	font-family: monospace;
	text-align: right;
}

.list_table .stat_name {
	width: 150pt;
	max-width: 150pt;
	font-family: monospace;
}

.list_table .stat_value {
	width: 120pt;
	max-width: 120pt;
	font-family: monospace;
}

.list_table .stale_repro {
	text-decoration: line-through;
}

.list_table .assets {
	white-space: nowrap;
}

.list_table .assets .no-break {
	display: inline-block;
}

.list_table .icon {
	font-size: 75%;
}

.list_table .status-crashed {
	background-color: #FF8674;
}

.list_table tr:hover .status-crashed {
	background-color: #ffa397;
}

.list_table .status-ok {
	background-color: lightgreen;
}

.list_table tr:hover .status-ok {
	background-color: palegreen;
}

.list_table .status-error {
	background-color: lightgray;
}

.list_table tr:hover .status-error {
	background-color: gainsboro;
}

.bug-label {
	background: white;
	border: 1pt solid black;
	display: inline-block;
	padding-left: 2pt;
	padding-right: 2pt;
	margin-left: 4pt;
	font-size: small;
}

.bug-label a {
	text-decoration: none;
	color: black;
}

.bad {
	color: #f00;
	font-weight: bold;
}

.inactive {
	color: #888;
}

.plain {
	text-decoration: none;
}

textarea {
	width:100%;
	font-family: monospace;
}

.mono {
	font-family: monospace;
}

.info_link {
	color: #25a7db;
	text-decoration: none;
}

.page {
	position: relative;
	width: 100%;
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 290px;
	margin-top: 5px;
}

.panel {
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.panel h1 {
	font-size: 16px;
	margin: 0;
	padding: 2px 8px;
}

.panel select {
	padding: 5px;
	border: 0;
	width: 100%;
}

.panel label {
	margin-left: 7px;
}

.main-content {
	position: absolute;
	top: 0;
	left: 300px;
	right: 5px;
	min-height: 200px;
	overflow: hidden;
}

.graph_help {
	position: absolute;
	top: 115px;
	left: 10px;
	z-index: 1;
	text-decoration: none;
	font-weight: bold;
	font-size: xx-large;
	color: blue;
}

#graph_div {
	height: 85vh;
}

#crash_div {
	align: left;
	width: 90%;
	height: 400px;
	margin: 0 0;
	overflow: scroll;
	border: 1px solid #777;
	padding: 0px;
	background: transparent;
}

#crash_div pre {
	margin: 1px;
}

.input-values {
	margin-left: 7px;
	margin-bottom: 7px;
}

.input-group {
	margin-top: 7px;
	margin-bottom: 7px;
	display: block;
}

.input-group button {
	width: 20pt;
}

.fix-candidate-block {
	background: lightgreen;
	padding: 5pt;
}

.bug-bisection-info {
	float:left;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 5px;
}

.bug-bisection-stop {
	clear: both;
	margin-bottom: 10px;
}

.collapsible {
	border: 1px solid lightgrey;
	margin-bottom: 15px;
}

.collapsible .content {
	overflow-x: auto;
}

.collapsible .head {
	max-width: 100%;
	background-color: lightgrey;
	padding: 5pt;
	vertical-align: middle;
	cursor: pointer;
}

.collapsible-hide .content {
	display: none;
}

.collapsible-hide .hide-icon {
	display: none;
}

.collapsible-show .show-icon {
	display: none;
}
