include "arch/amd64/conf/GENERIC"

options		DEBUG
options		LOCKDEBUG

makeoptions	KASAN=1
options		KASAN
no options	SVS
no options	MODULAR
no options	MODULAR_DEFAULT_AUTOLOAD
options		POOL_QUARANTINE
options		KASAN_PANIC

makeoptions	KCOV=1
options		KCOV

options		FAULT

pseudo-device	vhci
usb*	at vhci?
