<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Syz-Cluster</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-start">
      <a class="navbar-brand px-3" href="#">Syz-Cluster</a>
      <div class="">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">All Series</a>
          </li>
        </ul>
      </div>
    </nav>
    {{block "content" .}}{{end}}
  </body>
</html>
