{{define "content"}}
    <div class="container">
        <h2>Patch Series</h2>
        <table class="table table-bordered table-sm">
            <tbody>
                <tr>
                    <th>Subject</th>
                    <td><a href="{{.Link}}">{{.Title}}</a></td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>{{.AuthorEmail}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{.PublishedAt}}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>{{.Version}}</td>
                </tr>
            </tbody>
        </table>

        <h3>Patches ({{.TotalPatches}})</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {{$data := .}} 
                {{range .Patches}}
                <tr>
                    <td><a href="{{.Link}}">{{.Title}}</a></td>
                    <td><a href="/patches/{{.ID}}">[Body]</a></td>
                </tr>
                {{end}}
           </tbody>
        </table>
        {{range .Sessions}}
        <h3>Session {{.CreatedAt.Format "2006-01-02"}}</h3>
        <table class="table table-bordered table-sm">
            <tbody>
                <tr>
                    <th><i>ID (for dev)</i></th>
                    <td>{{.ID}}</a></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{if .FinishedAt.IsNull}}in progress{{else}}finished{{end}}</a></td>
                </tr>
                {{if not .SkipReason.IsNull}}
                <tr>
                    <th>Skipped</th>
                    <td>{{.SkipReason.StringVal}}</td>
                </tr>
                {{end}}
                {{if .LogURI}}
                <tr>
                    <th><i>Execution Log</i></th>
                    <td><a href="/sessions/{{.ID}}/log">[Link]</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Base</th>
                    <th>Patched</th>
                    <th>Verdict</th>
                </tr>
            </thead>
            <tbody>
            {{range .Tests}}
                <tr>
                    <td>{{.TestName}}</td>
                    <td>{{if .BaseBuild}}{{.BaseBuild.CommitHash}}{{end}}</td>
                    <td>{{if .PatchedBuild}}{{.PatchedBuild.CommitHash}}[patched]{{end}}</td>
                    <th>{{.Result}}</th>
                </tr>
                {{if .Findings}}
                <tr>
                  <td colspan="4">
                    <table class="table mb-0">
                      <tbody>
                      {{range .Findings}}
                      <tr>
                        <td>{{.Title}}</td>
                      </tr>
                      {{end}}
                      </tbody>
                    </table>
                  </td>
                </tr>
                {{end}}
            {{end}}
            </tbody>
        </table>
        {{end}}
    </div>
{{end}}
