{
  "discoveryVersion": "v1",
  "name": "generativelanguage",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "resources": {
    "cachedContents": {
      "methods": {
        "get": {
          "path": "v1beta/{+name}",
          "id": "generativelanguage.cachedContents.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Reads CachedContent resource.",
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^cachedContents/[^/]+$",
              "description": "Required. The resource name referring to the content cache entry. Format: `cachedContents/{id}`"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "CachedContent"
          }
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "CachedContent"
          },
          "id": "generativelanguage.cachedContents.create",
          "response": {
            "$ref": "CachedContent"
          },
          "flatPath": "v1beta/cachedContents",
          "parameterOrder": [],
          "path": "v1beta/cachedContents",
          "description": "Creates CachedContent resource.",
          "httpMethod": "POST"
        },
        "patch": {
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "request": {
            "$ref": "CachedContent"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "CachedContent"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Optional. Identifier. The resource name referring to the cached content. Format: `cachedContents/{id}`",
              "pattern": "^cachedContents/[^/]+$",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "description": "The list of fields to update.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta/{+name}",
          "description": "Updates CachedContent resource (only expiration is updatable).",
          "id": "generativelanguage.cachedContents.patch"
        },
        "list": {
          "description": "Lists CachedContents.",
          "response": {
            "$ref": "ListCachedContentsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1beta/cachedContents",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of cached contents to return. The service may return fewer than this value. If unspecified, some default (under maximum) number of items will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListCachedContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCachedContents` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "flatPath": "v1beta/cachedContents",
          "id": "generativelanguage.cachedContents.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/cachedContents/{cachedContentsId}",
          "description": "Deletes CachedContent resource.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name referring to the content cache entry Format: `cachedContents/{id}`",
              "pattern": "^cachedContents/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta/{+name}",
          "id": "generativelanguage.cachedContents.delete",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "corpora": {
      "resources": {
        "documents": {
          "resources": {
            "chunks": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Chunk"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Immutable. Identifier. The `Chunk` resource name. The ID (name excluding the \"corpora/*/documents/*/chunks/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a random 12-character unique ID will be generated. Example: `corpora/{corpus_id}/documents/{document_id}/chunks/123a456b789c`"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`."
                    }
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a `Chunk`.",
                  "request": {
                    "$ref": "Chunk"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "id": "generativelanguage.corpora.documents.chunks.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Chunk"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "description": "Gets information about a specific `Chunk`.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `Chunk` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Chunk"
                  },
                  "description": "Creates a `Chunk`.",
                  "request": {
                    "$ref": "Chunk"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "path": "v1beta/{+parent}/chunks"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks/{chunksId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "generativelanguage.corpora.documents.chunks.delete",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the `Chunk` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`",
                      "pattern": "^corpora/[^/]+/documents/[^/]+/chunks/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a `Chunk`."
                },
                "batchDelete": {
                  "path": "v1beta/{+parent}/chunks:batchDelete",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to delete. The parent field in every `DeleteChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchDelete",
                  "id": "generativelanguage.corpora.documents.chunks.batchDelete",
                  "description": "Batch delete `Chunk`s.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchDeleteChunksRequest"
                  }
                },
                "list": {
                  "description": "Lists all `Chunk`s in a `Document`.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of `Chunk`s to return (per page). The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum size limit is 100 `Chunk`s per page.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListChunks` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListChunks` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the `Document` containing `Chunk`s. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks",
                  "response": {
                    "$ref": "ListChunksResponse"
                  },
                  "path": "v1beta/{+parent}/chunks",
                  "id": "generativelanguage.corpora.documents.chunks.list"
                },
                "batchCreate": {
                  "id": "generativelanguage.corpora.documents.chunks.batchCreate",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchCreate",
                  "path": "v1beta/{+parent}/chunks:batchCreate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Optional. The name of the `Document` where this batch of `Chunk`s will be created. The parent field in every `CreateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                    }
                  },
                  "description": "Batch create `Chunk`s.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchCreateChunksResponse"
                  },
                  "request": {
                    "$ref": "BatchCreateChunksRequest"
                  }
                },
                "batchUpdate": {
                  "description": "Batch update `Chunk`s.",
                  "request": {
                    "$ref": "BatchUpdateChunksRequest"
                  },
                  "path": "v1beta/{+parent}/chunks:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "generativelanguage.corpora.documents.chunks.batchUpdate",
                  "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}/chunks:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateChunksResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^corpora/[^/]+/documents/[^/]+$",
                      "description": "Optional. The name of the `Document` containing the `Chunk`s to update. The parent field in every `UpdateChunkRequest` must match this value. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "id": "generativelanguage.corpora.documents.get",
              "parameters": {
                "name": {
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the `Document` to retrieve. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Document"
              },
              "path": "v1beta/{+name}",
              "description": "Gets information about a specific `Document`."
            },
            "delete": {
              "description": "Deletes a `Document`.",
              "id": "generativelanguage.corpora.documents.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "parameters": {
                "force": {
                  "type": "boolean",
                  "description": "Optional. If set to true, any `Chunk`s and objects related to this `Document` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Document` contains any `Chunk`s.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the `Document` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc`"
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to update. Currently, this only supports updating `display_name` and `custom_metadata`."
                },
                "name": {
                  "type": "string",
                  "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"corpora/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/{corpus_id}/documents/my-awesome-doc-123a456b789c`",
                  "required": true,
                  "location": "path",
                  "pattern": "^corpora/[^/]+/documents/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a `Document`.",
              "request": {
                "$ref": "Document"
              },
              "response": {
                "$ref": "Document"
              },
              "path": "v1beta/{+name}",
              "id": "generativelanguage.corpora.documents.patch",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}",
              "httpMethod": "PATCH"
            },
            "query": {
              "path": "v1beta/{+name}:query",
              "id": "generativelanguage.corpora.documents.query",
              "description": "Performs semantic search over a `Document`.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `Document` to query. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^corpora/[^/]+/documents/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "QueryDocumentRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/corpora/{corporaId}/documents/{documentsId}:query",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "QueryDocumentResponse"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListDocuments` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListDocuments` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of `Document`s to return (per page). The service may return fewer `Document`s. If unspecified, at most 10 `Document`s will be returned. The maximum size limit is 20 `Document`s per page.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The name of the `Corpus` containing `Document`s. Example: `corpora/my-corpus-123`",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Lists all `Document`s in a `Corpus`.",
              "response": {
                "$ref": "ListDocumentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "httpMethod": "GET",
              "id": "generativelanguage.corpora.documents.list",
              "path": "v1beta/{+parent}/documents"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1beta/corpora/{corporaId}/documents",
              "request": {
                "$ref": "Document"
              },
              "path": "v1beta/{+parent}/documents",
              "parameters": {
                "parent": {
                  "pattern": "^corpora/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the `Corpus` where this `Document` will be created. Example: `corpora/my-corpus-123`"
                }
              },
              "description": "Creates an empty `Document`.",
              "id": "generativelanguage.corpora.documents.create",
              "response": {
                "$ref": "Document"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "permissions": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/permissions",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "response": {
                "$ref": "Permission"
              },
              "description": "Create a permission to a specific resource.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^corpora/[^/]+$",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "generativelanguage.corpora.permissions.create",
              "request": {
                "$ref": "Permission"
              }
            },
            "get": {
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+name}",
              "id": "generativelanguage.corpora.permissions.get",
              "httpMethod": "GET",
              "description": "Gets information about a specific Permission.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "path": "v1beta/{+name}",
              "id": "generativelanguage.corpora.permissions.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)"
                }
              },
              "request": {
                "$ref": "Permission"
              },
              "response": {
                "$ref": "Permission"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the permission."
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^corpora/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "path": "v1beta/{+parent}/permissions",
              "description": "Lists permissions for the specific resource.",
              "flatPath": "v1beta/corpora/{corporaId}/permissions",
              "id": "generativelanguage.corpora.permissions.list"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/corpora/{corporaId}/permissions/{permissionsId}",
              "description": "Deletes the permission.",
              "id": "generativelanguage.corpora.permissions.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "pattern": "^corpora/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "response": {
            "$ref": "Corpus"
          },
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1beta/corpora",
          "description": "Creates an empty `Corpus`.",
          "request": {
            "$ref": "Corpus"
          },
          "flatPath": "v1beta/corpora",
          "id": "generativelanguage.corpora.create",
          "parameterOrder": []
        },
        "list": {
          "flatPath": "v1beta/corpora",
          "id": "generativelanguage.corpora.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListCorporaResponse"
          },
          "description": "Lists all `Corpora` owned by the user.",
          "path": "v1beta/corpora",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListCorpora` call. Provide the `next_page_token` returned in the response as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListCorpora` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of `Corpora` to return (per page). The service may return fewer `Corpora`. If unspecified, at most 10 `Corpora` will be returned. The maximum size limit is 20 `Corpora` per page."
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "required": true,
              "type": "string",
              "pattern": "^corpora/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Corpus"
          },
          "httpMethod": "GET",
          "id": "generativelanguage.corpora.get",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/corpora/{corporaId}",
          "description": "Gets information about a specific `Corpus`."
        },
        "query": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^corpora/[^/]+$",
              "type": "string",
              "description": "Required. The name of the `Corpus` to query. Example: `corpora/my-corpus-123`",
              "location": "path"
            }
          },
          "description": "Performs semantic search over a `Corpus`.",
          "httpMethod": "POST",
          "path": "v1beta/{+name}:query",
          "flatPath": "v1beta/corpora/{corporaId}:query",
          "id": "generativelanguage.corpora.query",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "QueryCorpusRequest"
          },
          "response": {
            "$ref": "QueryCorpusResponse"
          }
        },
        "delete": {
          "parameters": {
            "force": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to true, any `Document`s and objects related to this `Corpus` will also be deleted. If false (the default), a `FAILED_PRECONDITION` error will be returned if `Corpus` contains any `Document`s."
            },
            "name": {
              "pattern": "^corpora/[^/]+$",
              "description": "Required. The resource name of the `Corpus`. Example: `corpora/my-corpus-123`",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "generativelanguage.corpora.delete",
          "flatPath": "v1beta/corpora/{corporaId}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a `Corpus`.",
          "path": "v1beta/{+name}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "path": "v1beta/{+name}",
          "id": "generativelanguage.corpora.patch",
          "parameters": {
            "name": {
              "description": "Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`",
              "location": "path",
              "pattern": "^corpora/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The list of fields to update. Currently, this only supports updating `display_name`.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1beta/corpora/{corporaId}",
          "request": {
            "$ref": "Corpus"
          },
          "response": {
            "$ref": "Corpus"
          },
          "description": "Updates a `Corpus`."
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "path": "v1beta/files",
          "supportsMediaUpload": true,
          "description": "Creates a `File`.",
          "httpMethod": "POST",
          "id": "generativelanguage.media.upload",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/v1beta/files"
              },
              "simple": {
                "path": "/upload/v1beta/files",
                "multipart": true
              }
            },
            "maxSize": "2147483648",
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [],
          "response": {
            "$ref": "CreateFileResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "CreateFileRequest"
          },
          "flatPath": "v1beta/files"
        }
      }
    },
    "models": {
      "methods": {
        "embedContent": {
          "request": {
            "$ref": "EmbedContentRequest"
          },
          "description": "Generates an embedding from the model given an input `Content`.",
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1beta/models/{modelsId}:embedContent",
          "id": "generativelanguage.models.embedContent",
          "path": "v1beta/{+model}:embedContent",
          "parameters": {
            "model": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "pattern": "^models/[^/]+$"
            }
          },
          "response": {
            "$ref": "EmbedContentResponse"
          },
          "httpMethod": "POST"
        },
        "countMessageTokens": {
          "parameterOrder": [
            "model"
          ],
          "description": "Runs a model's tokenizer on a string and returns the token count.",
          "request": {
            "$ref": "CountMessageTokensRequest"
          },
          "response": {
            "$ref": "CountMessageTokensResponse"
          },
          "flatPath": "v1beta/models/{modelsId}:countMessageTokens",
          "httpMethod": "POST",
          "id": "generativelanguage.models.countMessageTokens",
          "parameters": {
            "model": {
              "location": "path",
              "type": "string",
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "pattern": "^models/[^/]+$",
              "required": true
            }
          },
          "path": "v1beta/{+model}:countMessageTokens"
        },
        "batchEmbedContents": {
          "path": "v1beta/{+model}:batchEmbedContents",
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchEmbedContentsResponse"
          },
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "BatchEmbedContentsRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:batchEmbedContents",
          "id": "generativelanguage.models.batchEmbedContents",
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "parameterOrder": [
            "model"
          ]
        },
        "streamGenerateContent": {
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "required": true,
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1beta/{+model}:streamGenerateContent",
          "httpMethod": "POST",
          "parameterOrder": [
            "model"
          ],
          "description": "Generates a streamed response from the model given an input `GenerateContentRequest`.",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:streamGenerateContent",
          "id": "generativelanguage.models.streamGenerateContent",
          "response": {
            "$ref": "GenerateContentResponse"
          }
        },
        "generateMessage": {
          "description": "Generates a response from the model given an input `MessagePrompt`.",
          "response": {
            "$ref": "GenerateMessageResponse"
          },
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.generateMessage",
          "path": "v1beta/{+model}:generateMessage",
          "flatPath": "v1beta/models/{modelsId}:generateMessage",
          "parameters": {
            "model": {
              "description": "Required. The name of the model to use. Format: `name=models/{model}`.",
              "type": "string",
              "required": true,
              "pattern": "^models/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateMessageRequest"
          }
        },
        "generateContent": {
          "httpMethod": "POST",
          "path": "v1beta/{+model}:generateContent",
          "flatPath": "v1beta/models/{modelsId}:generateContent",
          "id": "generativelanguage.models.generateContent",
          "parameters": {
            "model": {
              "type": "string",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "parameterOrder": [
            "model"
          ],
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "request": {
            "$ref": "GenerateContentRequest"
          }
        },
        "batchEmbedText": {
          "request": {
            "$ref": "BatchEmbedTextRequest"
          },
          "id": "generativelanguage.models.batchEmbedText",
          "parameters": {
            "model": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the `Model` to use for generating the embedding. Examples: models/embedding-gecko-001",
              "pattern": "^models/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ],
          "path": "v1beta/{+model}:batchEmbedText",
          "description": "Generates multiple embeddings from the model given input text in a synchronous call.",
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:batchEmbedText",
          "response": {
            "$ref": "BatchEmbedTextResponse"
          }
        },
        "countTextTokens": {
          "parameters": {
            "model": {
              "location": "path",
              "required": true,
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "type": "string",
              "pattern": "^models/[^/]+$"
            }
          },
          "description": "Runs a model's tokenizer on a text and returns the token count.",
          "path": "v1beta/{+model}:countTextTokens",
          "httpMethod": "POST",
          "id": "generativelanguage.models.countTextTokens",
          "response": {
            "$ref": "CountTextTokensResponse"
          },
          "parameterOrder": [
            "model"
          ],
          "flatPath": "v1beta/models/{modelsId}:countTextTokens",
          "request": {
            "$ref": "CountTextTokensRequest"
          }
        },
        "get": {
          "description": "Gets information about a specific Model.",
          "parameters": {
            "name": {
              "pattern": "^models/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "type": "string"
            }
          },
          "path": "v1beta/{+name}",
          "id": "generativelanguage.models.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta/models/{modelsId}",
          "response": {
            "$ref": "Model"
          }
        },
        "embedText": {
          "parameterOrder": [
            "model"
          ],
          "id": "generativelanguage.models.embedText",
          "description": "Generates an embedding from the model given an input message.",
          "flatPath": "v1beta/models/{modelsId}:embedText",
          "parameters": {
            "model": {
              "pattern": "^models/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The model name to use with the format model=models/{model}.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "EmbedTextRequest"
          },
          "path": "v1beta/{+model}:embedText",
          "httpMethod": "POST",
          "response": {
            "$ref": "EmbedTextResponse"
          }
        },
        "generateAnswer": {
          "id": "generativelanguage.models.generateAnswer",
          "request": {
            "$ref": "GenerateAnswerRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:generateAnswer",
          "response": {
            "$ref": "GenerateAnswerResponse"
          },
          "httpMethod": "POST",
          "description": "Generates a grounded answer from the model given an input `GenerateAnswerRequest`.",
          "path": "v1beta/{+model}:generateAnswer",
          "parameters": {
            "model": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the `Model` to use for generating the grounded response. Format: `model=models/{model}`.",
              "required": true,
              "pattern": "^models/[^/]+$"
            }
          },
          "parameterOrder": [
            "model"
          ]
        },
        "list": {
          "description": "Lists models available through the API.",
          "flatPath": "v1beta/models",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1beta/models",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of `Models` to return (per page). The service may return fewer models. If unspecified, at most 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "generativelanguage.models.list"
        },
        "generateText": {
          "parameterOrder": [
            "model"
          ],
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateTextRequest"
          },
          "flatPath": "v1beta/models/{modelsId}:generateText",
          "path": "v1beta/{+model}:generateText",
          "description": "Generates a response from the model given an input message.",
          "id": "generativelanguage.models.generateText",
          "parameters": {
            "model": {
              "type": "string",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m",
              "required": true
            }
          }
        },
        "countTokens": {
          "path": "v1beta/{+model}:countTokens",
          "httpMethod": "POST",
          "flatPath": "v1beta/models/{modelsId}:countTokens",
          "parameterOrder": [
            "model"
          ],
          "request": {
            "$ref": "CountTokensRequest"
          },
          "response": {
            "$ref": "CountTokensResponse"
          },
          "id": "generativelanguage.models.countTokens",
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "required": true,
              "location": "path",
              "pattern": "^models/[^/]+$",
              "type": "string"
            }
          },
          "description": "Runs a model's tokenizer on input content and returns the token count."
        }
      }
    },
    "tunedModels": {
      "methods": {
        "list": {
          "id": "generativelanguage.tunedModels.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListTunedModelsResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of `TunedModels` to return (per page). The service may return fewer tuned models. If unspecified, at most 10 tuned models will be returned. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListTunedModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListTunedModels` must match the call that provided the page token.",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A filter is a full text search over the tuned model's description and display name. By default, results will not include tuned models shared with everyone. Additional operators: - owner:me - writers:me - readers:me - readers:everyone Examples: \"owner:me\" returns all tuned models to which caller has owner role \"readers:me\" returns all tuned models to which caller has reader role \"readers:everyone\" returns all tuned models that are shared with everyone",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Lists tuned models owned by the user.",
          "flatPath": "v1beta/tunedModels",
          "path": "v1beta/tunedModels"
        },
        "transferOwnership": {
          "httpMethod": "POST",
          "description": "Transfers ownership of the tuned model. This is the only way to change ownership of the tuned model. The current owner will be downgraded to writer role.",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:transferOwnership",
          "path": "v1beta/{+name}:transferOwnership",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the tuned model to transfer ownership. Format: `tunedModels/my-model-id`",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          "request": {
            "$ref": "TransferOwnershipRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "generativelanguage.tunedModels.transferOwnership",
          "response": {
            "$ref": "TransferOwnershipResponse"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "id": "generativelanguage.tunedModels.delete",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "required": true,
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a tuned model."
        },
        "patch": {
          "description": "Updates a tuned model.",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Required. The list of fields to update.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^tunedModels/[^/]+$",
              "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\"",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "request": {
            "$ref": "TunedModel"
          },
          "response": {
            "$ref": "TunedModel"
          },
          "id": "generativelanguage.tunedModels.patch",
          "parameterOrder": [
            "name"
          ]
        },
        "generateContent": {
          "response": {
            "$ref": "GenerateContentResponse"
          },
          "description": "Generates a response from the model given an input `GenerateContentRequest`. Input capabilities differ between models, including tuned models. See the [model guide](https://ai.google.dev/models/gemini) and [tuning guide](https://ai.google.dev/docs/model_tuning_guidance) for details.",
          "parameterOrder": [
            "model"
          ],
          "path": "v1beta/{+model}:generateContent",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateContent",
          "id": "generativelanguage.tunedModels.generateContent",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^tunedModels/[^/]+$"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "TunedModel"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta/tunedModels/{tunedModelsId}",
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the model. Format: `tunedModels/my-model-id`",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^tunedModels/[^/]+$"
            }
          },
          "id": "generativelanguage.tunedModels.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets information about a specific TunedModel."
        },
        "generateText": {
          "id": "generativelanguage.tunedModels.generateText",
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "description": "Generates a response from the model given an input message.",
          "path": "v1beta/{+model}:generateText",
          "response": {
            "$ref": "GenerateTextResponse"
          },
          "flatPath": "v1beta/tunedModels/{tunedModelsId}:generateText",
          "parameters": {
            "model": {
              "type": "string",
              "description": "Required. The name of the `Model` or `TunedModel` to use for generating the completion. Examples: models/text-bison-001 tunedModels/sentence-translator-u3b7m",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GenerateTextRequest"
          }
        },
        "create": {
          "httpMethod": "POST",
          "path": "v1beta/tunedModels",
          "description": "Creates a tuned model. Intermediate tuning progress (if any) is accessed through the [google.longrunning.Operations] service. Status and results can be accessed through the Operations service. Example: GET /v1/tunedModels/az2mb0bpw6i/operations/000-111-222",
          "parameterOrder": [],
          "id": "generativelanguage.tunedModels.create",
          "parameters": {
            "tunedModelId": {
              "description": "Optional. The unique id for the tuned model if specified. This value should be up to 40 characters, the first character must be a letter, the last could be a letter or a number. The id must match the regular expression: [a-z]([a-z0-9-]{0,38}[a-z0-9])?.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "TunedModel"
          },
          "flatPath": "v1beta/tunedModels",
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "location": "path"
                }
              },
              "description": "Deletes the permission.",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "generativelanguage.tunedModels.permissions.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a permission to a specific resource.",
              "response": {
                "$ref": "Permission"
              },
              "request": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+parent}/permissions",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^tunedModels/[^/]+$",
                  "description": "Required. The parent resource of the `Permission`. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "httpMethod": "POST",
              "id": "generativelanguage.tunedModels.permissions.create"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Permission"
              },
              "path": "v1beta/{+name}",
              "description": "Updates the permission.",
              "response": {
                "$ref": "Permission"
              },
              "id": "generativelanguage.tunedModels.permissions.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to update. Accepted ones: - role (`Permission.role` field)"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}"
            },
            "list": {
              "path": "v1beta/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPermissionsResponse"
              },
              "id": "generativelanguage.tunedModels.permissions.list",
              "description": "Lists permissions for the specific resource.",
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of `Permission`s to return (per page). The service may return fewer permissions. If unspecified, at most 10 permissions will be returned. This method returns at most 1000 permissions per page, even if you pass larger page_size."
                },
                "parent": {
                  "pattern": "^tunedModels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource of the permissions. Formats: `tunedModels/{tuned_model}` `corpora/{corpus}`"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPermissions` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListPermissions` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Permission"
              },
              "description": "Gets information about a specific Permission.",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "id": "generativelanguage.tunedModels.permissions.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the permission. Formats: `tunedModels/{tuned_model}/permissions/{permission}` `corpora/{corpus}/permissions/{permission}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^tunedModels/[^/]+/permissions/[^/]+$"
                }
              },
              "flatPath": "v1beta/tunedModels/{tunedModelsId}/permissions/{permissionsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "id": "generativelanguage.files.get",
          "flatPath": "v1beta/files/{filesId}",
          "description": "Gets the metadata for the given `File`.",
          "parameters": {
            "name": {
              "pattern": "^files/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the `File` to get. Example: `files/abc-123`",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "delete": {
          "description": "Deletes the `File`.",
          "id": "generativelanguage.files.delete",
          "flatPath": "v1beta/files/{filesId}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the `File` to delete. Example: `files/abc-123`",
              "pattern": "^files/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE"
        },
        "list": {
          "path": "v1beta/files",
          "description": "Lists the metadata for `File`s owned by the requesting project.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListFilesResponse"
          },
          "flatPath": "v1beta/files",
          "parameterOrder": [],
          "id": "generativelanguage.files.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of `File`s to return per page. If unspecified, defaults to 10. Maximum `page_size` is 100.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token from a previous `ListFiles` call.",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "revision": "20240713",
  "ownerDomain": "google.com",
  "title": "Generative Language API",
  "documentationLink": "https://developers.generativeai.google/api",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "FunctionCall": {
      "type": "object",
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
      "id": "FunctionCall",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63.",
          "type": "string"
        },
        "args": {
          "type": "object",
          "description": "Optional. The function parameters and values in JSON object format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "Condition": {
      "type": "object",
      "id": "Condition",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ]
        },
        "stringValue": {
          "type": "string",
          "description": "The string value to filter the metadata on."
        },
        "numericValue": {
          "type": "number",
          "format": "float",
          "description": "The numeric value to filter the metadata on."
        }
      },
      "description": "Filter condition applicable to a single key."
    },
    "Message": {
      "properties": {
        "citationMetadata": {
          "readOnly": true,
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output."
        },
        "author": {
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Required. The text content of the structured `Message`."
        }
      },
      "id": "Message",
      "type": "object",
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text."
    },
    "GenerateContentResponse": {
      "id": "GenerateContentResponse",
      "type": "object",
      "properties": {
        "usageMetadata": {
          "$ref": "UsageMetadata",
          "readOnly": true,
          "description": "Output only. Metadata on the generation requests' token usage."
        },
        "promptFeedback": {
          "$ref": "PromptFeedback",
          "description": "Returns the prompt's feedback related to the content filters."
        },
        "candidates": {
          "description": "Candidate responses from the model.",
          "items": {
            "$ref": "Candidate"
          },
          "type": "array"
        }
      },
      "description": "Response from the model supporting multiple candidates. Note on safety ratings and content filtering. They are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API contract is that: - either all requested candidates are returned or no candidates at all - no candidates are returned only if there was something wrong with the prompt (see `prompt_feedback`) - feedback on each candidate is reported on `finish_reason` and `safety_ratings`."
    },
    "QueryDocumentRequest": {
      "properties": {
        "metadataFilters": {
          "description": "Optional. Filter for `Chunk` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Note: `Document`-level filtering is not supported for this request because a `Document` name is already specified. Example query: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}}, {key = \"chunk.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}}] Example query for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key.",
          "items": {
            "$ref": "MetadataFilter"
          },
          "type": "array"
        },
        "resultsCount": {
          "type": "integer",
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100.",
          "format": "int32"
        },
        "query": {
          "description": "Required. Query string to perform semantic search.",
          "type": "string"
        }
      },
      "id": "QueryDocumentRequest",
      "description": "Request for querying a `Document`.",
      "type": "object"
    },
    "CitationMetadata": {
      "properties": {
        "citationSources": {
          "type": "array",
          "description": "Citations to sources for a specific response.",
          "items": {
            "$ref": "CitationSource"
          }
        }
      },
      "type": "object",
      "description": "A collection of source attributions for a piece of content.",
      "id": "CitationMetadata"
    },
    "BatchDeleteChunksRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the `Chunk`s to delete.",
          "items": {
            "$ref": "DeleteChunkRequest"
          }
        }
      },
      "description": "Request to batch delete `Chunk`s.",
      "type": "object",
      "id": "BatchDeleteChunksRequest"
    },
    "SafetyRating": {
      "properties": {
        "blocked": {
          "type": "boolean",
          "description": "Was this content blocked because of this rating?"
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ],
          "description": "Required. The category for this rating.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ]
        },
        "probability": {
          "enumDescriptions": [
            "Probability is unspecified.",
            "Content has a negligible chance of being unsafe.",
            "Content has a low chance of being unsafe.",
            "Content has a medium chance of being unsafe.",
            "Content has a high chance of being unsafe."
          ],
          "description": "Required. The probability of harm for this content.",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        }
      },
      "description": "Safety rating for a piece of content. The safety rating contains the category of harm and the harm probability level in that category for a piece of content. Content is classified for safety across a number of harm categories and the probability of the harm classification is included here.",
      "id": "SafetyRating",
      "type": "object"
    },
    "FileData": {
      "description": "URI based data.",
      "id": "FileData",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "type": "string",
          "description": "Required. URI."
        }
      }
    },
    "EmbedContentRequest": {
      "type": "object",
      "id": "EmbedContentRequest",
      "description": "Request containing the `Content` for the model to embed.",
      "properties": {
        "model": {
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
          "type": "string"
        },
        "taskType": {
          "type": "string",
          "description": "Optional. Optional task type for which the embeddings will be used. Can only be set for `models/embedding-001`.",
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification."
          ],
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION"
          ]
        },
        "outputDimensionality": {
          "format": "int32",
          "description": "Optional. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024, and the earlier model (`models/embedding-001`) cannot specify this value.",
          "type": "integer"
        },
        "content": {
          "$ref": "Content",
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted."
        },
        "title": {
          "type": "string",
          "description": "Optional. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval."
        }
      }
    },
    "UsageMetadata": {
      "description": "Metadata on the generation request's token usage.",
      "properties": {
        "candidatesTokenCount": {
          "type": "integer",
          "description": "Total number of tokens across the generated candidates.",
          "format": "int32"
        },
        "cachedContentTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tokens in the cached part of the prompt, i.e. in the cached content."
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of tokens in the prompt. When cached_content is set, this is still the total effective prompt size. I.e. this includes the number of tokens in the cached content."
        },
        "totalTokenCount": {
          "type": "integer",
          "description": "Total token count for the generation request (prompt + candidates).",
          "format": "int32"
        }
      },
      "id": "UsageMetadata",
      "type": "object"
    },
    "GroundingPassages": {
      "id": "GroundingPassages",
      "type": "object",
      "description": "A repeated list of passages.",
      "properties": {
        "passages": {
          "type": "array",
          "description": "List of passages.",
          "items": {
            "$ref": "GroundingPassage"
          }
        }
      }
    },
    "UpdateChunkRequest": {
      "description": "Request to update a `Chunk`.",
      "id": "UpdateChunkRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`.",
          "type": "string"
        },
        "chunk": {
          "$ref": "Chunk",
          "description": "Required. The `Chunk` to update."
        }
      }
    },
    "InputFeedback": {
      "description": "Feedback related to the input data used to answer the question, as opposed to model-generated response to the question.",
      "type": "object",
      "id": "InputFeedback",
      "properties": {
        "blockReason": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. You can inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ],
          "type": "string",
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase your input."
        },
        "safetyRatings": {
          "description": "Ratings for safety of the input. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array"
        }
      }
    },
    "TextCompletion": {
      "type": "object",
      "description": "Output text returned from a model.",
      "properties": {
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "readOnly": true,
          "description": "Output only. Citation information for model-generated `output` in this `TextCompletion`. This field may be populated with attribution information for any text included in the `output`."
        },
        "output": {
          "description": "Output only. The generated text returned from the model.",
          "type": "string",
          "readOnly": true
        },
        "safetyRatings": {
          "description": "Ratings for the safety of a response. There is at most one rating per category.",
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          }
        }
      },
      "id": "TextCompletion"
    },
    "MessagePrompt": {
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model.",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`.",
          "items": {
            "$ref": "Message"
          }
        },
        "examples": {
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`.",
          "items": {
            "$ref": "Example"
          },
          "type": "array"
        },
        "context": {
          "type": "string",
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated."
        }
      },
      "id": "MessagePrompt",
      "type": "object"
    },
    "QueryCorpusRequest": {
      "type": "object",
      "description": "Request for querying a `Corpus`.",
      "properties": {
        "query": {
          "description": "Required. Query string to perform semantic search.",
          "type": "string"
        },
        "metadataFilters": {
          "type": "array",
          "description": "Optional. Filter for `Chunk` and `Document` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Example query at document level: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]}] Example query at chunk level for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key.",
          "items": {
            "$ref": "MetadataFilter"
          }
        },
        "resultsCount": {
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "QueryCorpusRequest"
    },
    "GenerateAnswerRequest": {
      "id": "GenerateAnswerRequest",
      "description": "Request to generate a grounded answer from the model.",
      "type": "object",
      "properties": {
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases.",
          "format": "float",
          "type": "number"
        },
        "inlinePassages": {
          "$ref": "GroundingPassages",
          "description": "Passages provided inline with the request."
        },
        "semanticRetriever": {
          "description": "Content retrieved from resources created via the Semantic Retriever API.",
          "$ref": "SemanticRetrieverConfig"
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: GenerateAnswer currently only supports queries in English."
        },
        "answerStyle": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified answer style.",
            "Succint but abstract style.",
            "Very brief and extractive style.",
            "Verbose style including extra details. The response may be formatted as a sentence, paragraph, multiple paragraphs, or bullet points, etc."
          ],
          "enum": [
            "ANSWER_STYLE_UNSPECIFIED",
            "ABSTRACTIVE",
            "EXTRACTIVE",
            "VERBOSE"
          ],
          "description": "Required. Style in which answers should be returned."
        }
      }
    },
    "FunctionCallingConfig": {
      "type": "object",
      "id": "FunctionCallingConfig",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language response.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations."
          ],
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO."
        },
        "allowedFunctionNames": {
          "type": "array",
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY. Function names should match [FunctionDeclaration.name]. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for specifying function calling behavior."
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "description": "User provided metadata stored as key-value pairs.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key of the metadata to store."
        },
        "stringValue": {
          "type": "string",
          "description": "The string value of the metadata to store."
        },
        "stringListValue": {
          "$ref": "StringList",
          "description": "The StringList value of the metadata to store."
        },
        "numericValue": {
          "format": "float",
          "description": "The numeric value of the metadata to store.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CountTokensRequest": {
      "properties": {
        "generateContentRequest": {
          "$ref": "GenerateContentRequest",
          "description": "Optional. The overall input given to the model. CountTokens will count prompt, function calling, etc."
        },
        "contents": {
          "items": {
            "$ref": "Content"
          },
          "type": "array",
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set."
        }
      },
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object",
      "id": "CountTokensRequest"
    },
    "ListDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "The returned `Document`s.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "id": "ListDocumentsResponse",
      "type": "object",
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`."
    },
    "ToolConfig": {
      "id": "ToolConfig",
      "description": "The Tool configuration containing parameters for specifying `Tool` use in the request.",
      "properties": {
        "functionCallingConfig": {
          "$ref": "FunctionCallingConfig",
          "description": "Optional. Function calling config."
        }
      },
      "type": "object"
    },
    "GenerateTextRequest": {
      "description": "Request to generate a text completion response from the model.",
      "type": "object",
      "id": "GenerateTextRequest",
      "properties": {
        "candidateCount": {
          "type": "integer",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
          "format": "int32"
        },
        "maxOutputTokens": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "format": "int32"
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model.",
          "format": "float",
          "type": "number"
        },
        "stopSequences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response."
        },
        "topP": {
          "type": "number",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "format": "float"
        },
        "topK": {
          "type": "integer",
[...]
