{
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "version": "v1beta",
  "version_module": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "name": "generativelanguage",
  "title": "Generative Language API",
  "schemas": {
    "ListTunedModelsResponse": {
      "id": "ListTunedModelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "tunedModels": {
          "type": "array",
          "description": "The returned Models.",
          "items": {
            "$ref": "TunedModel"
          }
        }
      },
      "type": "object",
      "description": "Response from `ListTunedModels` containing a paginated list of Models."
    },
    "GenerateMessageResponse": {
      "type": "object",
      "description": "The response from the model. This includes candidate messages and conversation history in the form of chronologically-ordered messages.",
      "id": "GenerateMessageResponse",
      "properties": {
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category.",
          "type": "array",
          "items": {
            "$ref": "ContentFilter"
          }
        },
        "messages": {
          "description": "The conversation history used by the model.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "candidates": {
          "description": "Candidate response messages from the model.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      }
    },
    "QueryCorpusResponse": {
      "properties": {
        "relevantChunks": {
          "type": "array",
          "description": "The relevant chunks.",
          "items": {
            "$ref": "RelevantChunk"
          }
        }
      },
      "description": "Response from `QueryCorpus` containing a list of relevant chunks.",
      "id": "QueryCorpusResponse",
      "type": "object"
    },
    "CreateChunkRequest": {
      "id": "CreateChunkRequest",
      "description": "Request to create a `Chunk`.",
      "properties": {
        "parent": {
          "description": "Required. The name of the `Document` where this `Chunk` will be created. Example: `corpora/my-corpus-123/documents/the-doc-abc`",
          "type": "string"
        },
        "chunk": {
          "description": "Required. The `Chunk` to create.",
          "$ref": "Chunk"
        }
      },
      "type": "object"
    },
    "CountTokensRequest": {
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "type": "object",
      "id": "CountTokensRequest",
      "properties": {
        "generateContentRequest": {
          "$ref": "GenerateContentRequest",
          "description": "Optional. The overall input given to the model. CountTokens will count prompt, function calling, etc."
        },
        "contents": {
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
          "items": {
            "$ref": "Content"
          },
          "type": "array"
        }
      }
    },
    "EmbedContentResponse": {
      "id": "EmbedContentResponse",
      "type": "object",
      "description": "The response to an `EmbedContentRequest`.",
      "properties": {
        "embedding": {
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content.",
          "readOnly": true
        }
      }
    },
    "ContentFilter": {
      "id": "ContentFilter",
      "type": "object",
      "description": "Content filtering metadata associated with processing a single request. ContentFilter contains a reason and an optional supporting string. The reason may be unspecified.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A string that describes the filtering behavior in more detail."
        },
        "reason": {
          "description": "The reason content was blocked during request processing.",
          "type": "string",
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "enumDescriptions": [
            "A blocked reason was not specified.",
            "Content was blocked by safety settings.",
            "Content was blocked, but the reason is uncategorized."
          ]
        }
      }
    },
    "GroundingPassages": {
      "description": "A repeated list of passages.",
      "properties": {
        "passages": {
          "description": "List of passages.",
          "items": {
            "$ref": "GroundingPassage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GroundingPassages"
    },
    "TransferOwnershipRequest": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Required. The email address of the user to whom the tuned model is being transferred to."
        }
      },
      "type": "object",
      "id": "TransferOwnershipRequest",
      "description": "Request to transfer the ownership of the tuned model."
    },
    "CitationMetadata": {
      "type": "object",
      "id": "CitationMetadata",
      "properties": {
        "citationSources": {
          "items": {
            "$ref": "CitationSource"
          },
          "type": "array",
          "description": "Citations to sources for a specific response."
        }
      },
      "description": "A collection of source attributions for a piece of content."
    },
    "Permission": {
      "description": "Permission resource grants user, group or the rest of the world access to the PaLM API resource (e.g. a tuned model, corpus). A role is a collection of permitted operations that allows users to perform specific actions on PaLM API resources. To make them available to users, groups, or service accounts, you assign roles. When you assign a role, you grant permissions that the role contains. There are three concentric roles. Each role is a superset of the previous role's permitted operations: - reader can use the resource (e.g. tuned model, corpus) for inference - writer has reader's permissions and additionally can edit and share - owner has writer's permissions and additionally can delete",
      "type": "object",
      "id": "Permission",
      "properties": {
        "granteeType": {
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Represents a user. When set, you must provide email_address for the user.",
            "Represents a group. When set, you must provide email_address for the group.",
            "Represents access to everyone. No extra information is required."
          ],
          "enum": [
            "GRANTEE_TYPE_UNSPECIFIED",
            "USER",
            "GROUP",
            "EVERYONE"
          ],
          "type": "string",
          "description": "Optional. Immutable. The type of the grantee."
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The permission name. A unique name will be generated on create. Examples: tunedModels/{tuned_model}/permissions/{permission} corpora/{corpus}/permissions/{permission} Output only.",
          "readOnly": true
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER",
            "READER"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Owner can use, update, share and delete the resource.",
            "Writer can use, update and share the resource.",
            "Reader can use the resource."
          ],
          "description": "Required. The role granted by this permission.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Optional. Immutable. The email address of the user of group which this permission refers. Field is not set when permission's grantee type is EVERYONE.",
          "type": "string"
        }
      }
    },
    "EmbedTextRequest": {
      "id": "EmbedTextRequest",
      "description": "Request to get a text embedding from the model.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The free-form input text that the model will turn into an embedding.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model name to use with the format model=models/{model}.",
          "type": "string"
        }
      }
    },
    "Content": {
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "properties": {
        "parts": {
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        },
        "role": {
          "type": "string",
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset."
        }
      },
      "id": "Content",
      "type": "object"
    },
    "VideoMetadata": {
      "id": "VideoMetadata",
      "type": "object",
      "properties": {
        "videoDuration": {
          "description": "Duration of the video.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Metadata for a video `File`."
    },
    "FunctionDeclaration": {
      "id": "FunctionDeclaration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the function. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63."
        },
        "parameters": {
          "$ref": "Schema",
          "description": "Optional. Describes the parameters to this function. Reflects the Open API 3.03 Parameter Object string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter."
        },
        "description": {
          "description": "Required. A brief description of the function.",
          "type": "string"
        }
      },
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.03 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "type": "object"
    },
    "QueryCorpusRequest": {
      "id": "QueryCorpusRequest",
      "properties": {
        "query": {
          "description": "Required. Query string to perform semantic search.",
          "type": "string"
        },
        "metadataFilters": {
          "description": "Optional. Filter for `Chunk` and `Document` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Example query at document level: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}]}, {key = \"document.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}]}] Example query at chunk level for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key.",
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          }
        },
        "resultsCount": {
          "format": "int32",
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100.",
          "type": "integer"
        }
      },
      "description": "Request for querying a `Corpus`.",
      "type": "object"
    },
    "GenerateContentResponse": {
      "description": "Response from the model supporting multiple candidates. Note on safety ratings and content filtering. They are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API contract is that: - either all requested candidates are returned or no candidates at all - no candidates are returned only if there was something wrong with the prompt (see `prompt_feedback`) - feedback on each candidate is reported on `finish_reason` and `safety_ratings`.",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "Candidate"
          },
          "type": "array",
          "description": "Candidate responses from the model."
        },
        "usageMetadata": {
          "description": "Output only. Metadata on the generation requests' token usage.",
          "readOnly": true,
          "$ref": "UsageMetadata"
        },
        "promptFeedback": {
          "$ref": "PromptFeedback",
          "description": "Returns the prompt's feedback related to the content filters."
        }
      },
      "id": "GenerateContentResponse",
      "type": "object"
    },
    "TuningExample": {
      "properties": {
        "output": {
          "description": "Required. The expected model output.",
          "type": "string"
        },
        "textInput": {
          "description": "Optional. Text model input.",
          "type": "string"
        }
      },
      "id": "TuningExample",
      "description": "A single example for tuning.",
      "type": "object"
    },
    "Embedding": {
      "properties": {
        "value": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "The embedding values.",
          "type": "array"
        }
      },
      "id": "Embedding",
      "description": "A list of floats representing the embedding.",
      "type": "object"
    },
    "BatchEmbedTextResponse": {
      "description": "The response to a EmbedTextRequest.",
      "type": "object",
      "id": "BatchEmbedTextResponse",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings generated from the input text.",
          "items": {
            "$ref": "Embedding"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "BatchEmbedContentsRequest": {
      "id": "BatchEmbedContentsRequest",
      "properties": {
        "requests": {
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
          "type": "array",
          "items": {
            "$ref": "EmbedContentRequest"
          }
        }
      },
      "type": "object",
      "description": "Batch request to get embeddings from the model for a list of prompts."
    },
    "Part": {
      "properties": {
        "inlineData": {
          "$ref": "Blob",
          "description": "Inline media bytes."
        },
        "functionCall": {
          "$ref": "FunctionCall",
          "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values."
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "FileData"
        },
        "functionResponse": {
          "$ref": "FunctionResponse",
          "description": "The result output of a `FunctionCall` that contains a string representing the `FunctionDeclaration.name` and a structured JSON object containing any output from the function is used as context to the model."
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        }
      },
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "id": "Part",
      "type": "object"
    },
    "Blob": {
      "type": "object",
      "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field.",
      "properties": {
        "data": {
          "format": "byte",
          "description": "Raw bytes for media formats.",
          "type": "string"
        },
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples: - image/png - image/jpeg If an unsupported MIME type is provided, an error will be returned. For a complete list of supported types, see [Supported file formats](https://ai.google.dev/gemini-api/docs/prompting_with_media#supported_file_formats).",
          "type": "string"
        }
      },
      "id": "Blob"
    },
    "Candidate": {
      "type": "object",
      "properties": {
        "tokenCount": {
          "description": "Output only. Token count for this candidate.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "groundingAttributions": {
          "items": {
            "$ref": "GroundingAttribution"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Attribution information for sources that contributed to a grounded answer. This field is populated for `GenerateAnswer` calls."
        },
        "content": {
          "description": "Output only. Generated content returned from the model.",
          "$ref": "Content",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Index of the candidate in the list of candidates."
        },
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "List of ratings for the safety of a response candidate. There is at most one rating per category."
        },
        "citationMetadata": {
          "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
          "readOnly": true,
          "$ref": "CitationMetadata"
        },
        "finishReason": {
          "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating the tokens.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The candidate content was flagged for safety reasons.",
            "The candidate content was flagged for recitation reasons.",
            "Unknown reason."
          ],
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER"
          ],
          "type": "string"
        }
      },
      "id": "Candidate",
      "description": "A response candidate generated from the model."
    },
    "QueryDocumentResponse": {
      "type": "object",
      "description": "Response from `QueryDocument` containing a list of relevant chunks.",
      "id": "QueryDocumentResponse",
      "properties": {
        "relevantChunks": {
          "description": "The returned relevant chunks.",
          "type": "array",
          "items": {
            "$ref": "RelevantChunk"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GenerateAnswerResponse": {
      "type": "object",
      "properties": {
        "answerableProbability": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The model's estimate of the probability that its answer is correct and grounded in the input passages. A low answerable_probability indicates that the answer might not be grounded in the sources. When `answerable_probability` is low, some clients may wish to: * Display a message to the effect of \"We couldn’t answer that question\" to the user. * Fall back to a general-purpose LLM that answers the question from world knowledge. The threshold and nature of such fallbacks will depend on individual clients’ use cases. 0.5 is a good starting threshold."
        },
        "answer": {
          "description": "Candidate answer from the model. Note: The model *always* attempts to provide a grounded answer, even when the answer is unlikely to be answerable from the given passages. In that case, a low-quality or ungrounded answer may be provided, along with a low `answerable_probability`.",
          "$ref": "Candidate"
        },
        "inputFeedback": {
          "$ref": "InputFeedback",
          "readOnly": true,
          "description": "Output only. Feedback related to the input data used to answer the question, as opposed to model-generated response to the question. \"Input data\" can be one or more of the following: - Question specified by the last entry in `GenerateAnswerRequest.content` - Conversation history specified by the other entries in `GenerateAnswerRequest.content` - Grounding sources (`GenerateAnswerRequest.semantic_retriever` or `GenerateAnswerRequest.inline_passages`)"
        }
      },
      "id": "GenerateAnswerResponse",
      "description": "Response from the model for a grounded answer."
    },
    "GenerateContentRequest": {
      "properties": {
        "contents": {
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `name=models/{model}`.",
          "type": "string"
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported."
        },
        "toolConfig": {
          "description": "Optional. Tool configuration for any `Tool` specified in the request.",
          "$ref": "ToolConfig"
        },
        "tools": {
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. The only supported tool is currently `Function`."
        },
        "systemInstruction": {
          "$ref": "Content",
          "description": "Optional. Developer set system instruction. Currently, text only."
        },
        "generationConfig": {
          "$ref": "GenerationConfig",
          "description": "Optional. Configuration options for model generation and outputs."
        }
      },
      "description": "Request to generate a completion from the model.",
      "type": "object",
      "id": "GenerateContentRequest"
    },
    "InputFeedback": {
      "type": "object",
      "properties": {
        "safetyRatings": {
          "type": "array",
          "description": "Ratings for safety of the input. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          }
        },
        "blockReason": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Input was blocked due to safety reasons. You can inspect `safety_ratings` to understand which safety category blocked it.",
            "Input was blocked due to other reasons."
          ],
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "description": "Optional. If set, the input was blocked and no candidates are returned. Rephrase your input."
        }
      },
      "id": "InputFeedback",
      "description": "Feedback related to the input data used to answer the question, as opposed to model-generated response to the question."
    },
    "GenerateTextRequest": {
      "properties": {
        "candidateCount": {
          "type": "integer",
          "description": "Optional. Number of generated responses to return. This value must be between [1, 8], inclusive. If unset, this will default to 1.",
          "format": "int32"
        },
        "prompt": {
          "$ref": "TextPrompt",
          "description": "Required. The free-form input text given to the model as a prompt. Given a prompt, the model will generate a TextCompletion response it predicts as the completion of the input text."
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. that will be enforced on the `GenerateTextRequest.prompt` and `GenerateTextResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any prompts and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_DEROGATORY, HARM_CATEGORY_TOXICITY, HARM_CATEGORY_VIOLENCE, HARM_CATEGORY_SEXUAL, HARM_CATEGORY_MEDICAL, HARM_CATEGORY_DANGEROUS are supported in text service."
        },
        "topP": {
          "type": "number",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned the `getModel` function.",
          "format": "float"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a candidate. If unset, this will default to output_token_limit specified in the `Model` specification.",
          "type": "integer",
          "format": "int32"
        },
        "stopSequences": {
          "type": "array",
          "description": "The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response.",
          "items": {
            "type": "string"
          }
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned the `getModel` function. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model.",
          "type": "number"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Defaults to 40. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned the `getModel` function.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GenerateTextRequest",
      "type": "object",
      "description": "Request to generate a text completion response from the model."
    },
    "RelevantChunk": {
      "properties": {
        "chunkRelevanceScore": {
          "type": "number",
          "format": "float",
          "description": "`Chunk` relevance to the query."
        },
        "chunk": {
          "$ref": "Chunk",
          "description": "`Chunk` associated with the query."
        }
      },
      "id": "RelevantChunk",
      "type": "object",
      "description": "The information for a chunk relevant to a query."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "SemanticRetrieverConfig": {
      "id": "SemanticRetrieverConfig",
      "description": "Configuration for retrieving grounding content from a `Corpus` or `Document` created using the Semantic Retriever API.",
      "type": "object",
      "properties": {
        "maxChunksCount": {
          "type": "integer",
          "description": "Optional. Maximum number of relevant `Chunk`s to retrieve.",
          "format": "int32"
        },
        "metadataFilters": {
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          },
          "description": "Optional. Filters for selecting `Document`s and/or `Chunk`s from the resource."
        },
        "query": {
          "description": "Required. Query to use for similarity matching `Chunk`s in the given resource.",
          "$ref": "Content"
        },
        "minimumRelevanceScore": {
          "format": "float",
          "description": "Optional. Minimum relevance score for retrieved relevant `Chunk`s.",
          "type": "number"
        },
        "source": {
          "type": "string",
          "description": "Required. Name of the resource for retrieval, e.g. corpora/123 or corpora/123/documents/abc."
        }
      }
    },
    "GenerateTextResponse": {
      "properties": {
        "candidates": {
          "description": "Candidate responses from the model.",
          "items": {
            "$ref": "TextCompletion"
          },
          "type": "array"
        },
        "safetyFeedback": {
          "description": "Returns any safety feedback related to content filtering.",
          "type": "array",
          "items": {
            "$ref": "SafetyFeedback"
          }
        },
        "filters": {
          "description": "A set of content filtering metadata for the prompt and response text. This indicates which `SafetyCategory`(s) blocked a candidate from this response, the lowest `HarmProbability` that triggered a block, and the HarmThreshold setting for that category. This indicates the smallest change to the `SafetySettings` that would be necessary to unblock at least 1 response. The blocking is configured by the `SafetySettings` in the request (or the default `SafetySettings` of the API).",
          "items": {
            "$ref": "ContentFilter"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response from the model, including candidate completions.",
      "id": "GenerateTextResponse"
    },
    "Chunk": {
      "properties": {
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs. The maximum number of `CustomMetadata` per chunk is 20.",
          "type": "array",
          "items": {
            "$ref": "CustomMetadata"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Timestamp of when the `Chunk` was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The Timestamp of when the `Chunk` was created.",
          "type": "string",
          "readOnly": true
        },
        "data": {
          "$ref": "ChunkData",
          "description": "Required. The content for the `Chunk`, such as the text string. The maximum number of tokens per chunk is 2043."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `Chunk` resource name. The ID (name excluding the \"corpora/*/documents/*/chunks/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a random 12-character unique ID will be generated. Example: `corpora/{corpus_id}/documents/{document_id}/chunks/123a456b789c`"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "`Chunk` is being processed (embedding and vector storage).",
            "`Chunk` is processed and available for querying.",
            "`Chunk` failed processing."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING_PROCESSING",
            "STATE_ACTIVE",
            "STATE_FAILED"
          ],
          "description": "Output only. Current state of the `Chunk`.",
          "readOnly": true
        }
      },
      "description": "A `Chunk` is a subpart of a `Document` that is treated as an independent unit for the purposes of vector representation and storage. A `Corpus` can have a maximum of 1 million `Chunk`s.",
      "type": "object",
      "id": "Chunk"
    },
    "Schema": {
      "description": "The `Schema` object allows the definition of input and output data types. These types can be objects, but also primitives and arrays. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema).",
      "properties": {
        "items": {
          "description": "Optional. Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "properties": {
          "description": "Optional. Properties of Type.OBJECT.",
          "additionalProperties": {
            "$ref": "Schema"
          },
          "type": "object"
        },
        "required": {
          "type": "array",
          "description": "Optional. Required properties of Type.OBJECT.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Required. Data type.",
          "enumDescriptions": [
            "Not specified, should not be used.",
            "String type.",
            "Number type.",
            "Integer type.",
            "Boolean type.",
            "Array type.",
            "Object type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT"
          ]
        },
        "enum": {
          "type": "array",
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of the data. This is used only for primitive datatypes. Supported formats: for NUMBER type: float, double for INTEGER type: int32, int64"
        },
        "description": {
          "type": "string",
          "description": "Optional. A brief description of the parameter. This could contain examples of use. Parameter description may be formatted as Markdown."
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        }
      },
      "id": "Schema",
      "type": "object"
    },
    "SafetyRating": {
      "id": "SafetyRating",
      "type": "object",
      "properties": {
        "blocked": {
          "type": "boolean",
          "description": "Was this content blocked because of this rating?"
        },
        "category": {
          "description": "Required. The category for this rating.",
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ]
        },
        "probability": {
          "type": "string",
          "description": "Required. The probability of harm for this content.",
          "enumDescriptions": [
            "Probability is unspecified.",
            "Content has a negligible chance of being unsafe.",
            "Content has a low chance of being unsafe.",
            "Content has a medium chance of being unsafe.",
            "Content has a high chance of being unsafe."
          ],
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "description": "Safety rating for a piece of content. The safety rating contains the category of harm and the harm probability level in that category for a piece of content. Content is classified for safety across a number of harm categories and the probability of the harm classification is included here."
    },
    "File": {
      "type": "object",
      "description": "A file uploaded to the API.",
      "id": "File",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Error status if File processing failed."
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the `File` was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The `File` resource name. The ID (name excluding the \"files/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be generated. Example: `files/123-456`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the `File` was created.",
          "readOnly": true
        },
        "sizeBytes": {
          "type": "string",
          "description": "Output only. Size of the file in bytes.",
          "readOnly": true,
          "format": "int64"
        },
        "sha256Hash": {
          "type": "string",
          "description": "Output only. SHA-256 hash of the uploaded bytes.",
          "readOnly": true,
          "format": "byte"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Processing state of the File.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "ACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "File is being processed and cannot be used for inference yet.",
            "File is processed and available for inference.",
            "File failed processing."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable display name for the `File`. The display name must be no more than 512 characters in length, including spaces. Example: \"Welcome Image\""
        },
        "videoMetadata": {
          "$ref": "VideoMetadata",
          "readOnly": true,
          "description": "Output only. Metadata for a video."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The uri of the `File`."
        },
        "expirationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the `File` will be deleted. Only set if the `File` is scheduled to expire.",
          "format": "google-datetime"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. MIME type of the file.",
          "readOnly": true
        }
      }
    },
    "BatchUpdateChunksRequest": {
      "description": "Request to batch update `Chunk`s.",
      "id": "BatchUpdateChunksRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateChunkRequest"
          },
          "type": "array",
          "description": "Required. The request messages specifying the `Chunk`s to update. A maximum of 100 `Chunk`s can be updated in a batch."
        }
      }
    },
    "CountMessageTokensResponse": {
      "id": "CountMessageTokensResponse",
      "properties": {
        "tokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      },
      "description": "A response from `CountMessageTokens`. It returns the model's `token_count` for the `prompt`.",
      "type": "object"
    },
    "Corpus": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The Timestamp of when the `Corpus` was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The Timestamp of when the `Corpus` was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Corpus`. The display name must be no more than 512 characters in length, including spaces. Example: \"Docs on Semantic Retriever\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `Corpus` resource name. The ID (name excluding the \"corpora/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/my-awesome-corpora-123a456b789c`"
        }
      },
      "id": "Corpus",
      "description": "A `Corpus` is a collection of `Document`s. A project can create up to 5 corpora.",
      "type": "object"
    },
    "TuningExamples": {
      "id": "TuningExamples",
      "description": "A set of tuning examples. Can be training or validation data.",
      "type": "object",
      "properties": {
        "examples": {
          "items": {
            "$ref": "TuningExample"
          },
          "type": "array",
          "description": "Required. The examples. Example input can be for text or discuss, but all examples in a set must be of the same type."
        }
      }
    },
    "Example": {
      "description": "An input/output example used to instruct the Model. It demonstrates how the model should respond or format its response.",
      "id": "Example",
      "properties": {
        "input": {
          "$ref": "Message",
          "description": "Required. An example of an input `Message` from the user."
        },
        "output": {
          "$ref": "Message",
          "description": "Required. An example of what the model should output given the input."
        }
      },
      "type": "object"
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "values": {
          "description": "The string values of the metadata to store.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "User provided string values assigned to a single metadata key.",
      "type": "object"
    },
    "SafetyFeedback": {
      "type": "object",
      "description": "Safety feedback for an entire request. This field is populated if content in the input and/or response is blocked due to safety settings. SafetyFeedback may not exist for every HarmCategory. Each SafetyFeedback will return the safety settings used by the request as well as the lowest HarmProbability that should be allowed in order to return a result.",
      "id": "SafetyFeedback",
      "properties": {
        "rating": {
          "description": "Safety rating evaluated from content.",
          "$ref": "SafetyRating"
        },
        "setting": {
          "$ref": "SafetySetting",
          "description": "Safety settings applied to the request."
        }
      }
    },
    "CountMessageTokensRequest": {
      "properties": {
        "prompt": {
          "description": "Required. The prompt, whose token count is to be returned.",
          "$ref": "MessagePrompt"
        }
      },
      "type": "object",
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "id": "CountMessageTokensRequest"
    },
    "CustomMetadata": {
      "id": "CustomMetadata",
      "type": "object",
      "description": "User provided metadata stored as key-value pairs.",
      "properties": {
        "stringValue": {
          "description": "The string value of the metadata to store.",
          "type": "string"
        },
        "key": {
          "description": "Required. The key of the metadata to store.",
          "type": "string"
        },
        "numericValue": {
          "description": "The numeric value of the metadata to store.",
          "type": "number",
          "format": "float"
        },
        "stringListValue": {
          "description": "The StringList value of the metadata to store.",
          "$ref": "StringList"
        }
      }
    },
    "MessagePrompt": {
      "type": "object",
      "id": "MessagePrompt",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Required. A snapshot of the recent conversation history sorted chronologically. Turns alternate between two authors. If the total input size exceeds the model's `input_token_limit` the input will be truncated: The oldest items will be dropped from `messages`.",
          "items": {
            "$ref": "Message"
          }
        },
        "context": {
          "type": "string",
          "description": "Optional. Text that should be provided to the model first to ground the response. If not empty, this `context` will be given to the model first before the `examples` and `messages`. When using a `context` be sure to provide it with every request to maintain continuity. This field can be a description of your prompt to the model to help provide context and guide the responses. Examples: \"Translate the phrase from English to French.\" or \"Given a statement, classify the sentiment as happy, sad or neutral.\" Anything included in this field will take precedence over message history if the total input size exceeds the model's `input_token_limit` and the input request is truncated."
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "Optional. Examples of what the model should generate. This includes both user input and the response that the model should emulate. These `examples` are treated identically to conversation messages except that they take precedence over the history in `messages`: If the total input size exceeds the model's `input_token_limit` the input will be truncated. Items will be dropped from `messages` before `examples`."
        }
      },
      "description": "All of the structured input text passed to the model as a prompt. A `MessagePrompt` contains a structured set of fields that provide context for the conversation, examples of user input/model output message pairs that prime the model to respond in different ways, and the conversation history or list of messages representing the alternating turns of the conversation between the user and the model."
    },
    "CreateFileRequest": {
      "type": "object",
      "properties": {
        "file": {
          "description": "Optional. Metadata for the file to create.",
          "$ref": "File"
        }
      },
      "description": "Request for `CreateFile`.",
      "id": "CreateFileRequest"
    },
    "GenerateAnswerRequest": {
      "description": "Request to generate a grounded answer from the model.",
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          },
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateAnswerRequest.contents` and `GenerateAnswerResponse.candidate`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT are supported."
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single question to answer. For multi-turn queries, this is a repeated field that contains conversation history and the last `Content` in the list containing the question. Note: GenerateAnswer currently only supports queries in English."
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range from [0.0,1.0], inclusive. A value closer to 1.0 will produce responses that are more varied and creative, while a value closer to 0.0 will typically result in more straightforward responses from the model. A low temperature (~0.2) is usually recommended for Attributed-Question-Answering use cases."
        },
        "answerStyle": {
          "enumDescriptions": [
            "Unspecified answer style.",
            "Succint but abstract style.",
            "Very brief and extractive style.",
            "Verbose style including extra details. The response may be formatted as a sentence, paragraph, multiple paragraphs, or bullet points, etc."
          ],
          "enum": [
            "ANSWER_STYLE_UNSPECIFIED",
            "ABSTRACTIVE",
            "EXTRACTIVE",
            "VERBOSE"
          ],
          "description": "Required. Style in which answers should be returned.",
          "type": "string"
        },
        "semanticRetriever": {
          "$ref": "SemanticRetrieverConfig",
          "description": "Content retrieved from resources created via the Semantic Retriever API."
        },
        "inlinePassages": {
          "$ref": "GroundingPassages",
          "description": "Passages provided inline with the request."
        }
      },
      "id": "GenerateAnswerRequest",
      "type": "object"
    },
    "Message": {
      "id": "Message",
      "properties": {
        "author": {
          "type": "string",
          "description": "Optional. The author of this Message. This serves as a key for tagging the content of this Message when it is fed to the model as text. The author can be any alphanumeric string."
        },
        "citationMetadata": {
          "readOnly": true,
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated `content` in this `Message`. If this `Message` was generated as output from the model, this field may be populated with attribution information for any text included in the `content`. This field is used only on output."
        },
        "content": {
          "description": "Required. The text content of the structured `Message`.",
          "type": "string"
        }
      },
      "description": "The base unit of structured text. A `Message` includes an `author` and the `content` of the `Message`. The `author` is used to tag messages when they are fed to the model as text.",
      "type": "object"
    },
    "CitationSource": {
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "type": "integer"
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        },
        "endIndex": {
          "description": "Optional. End of the attributed segment, exclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A citation to a source for a portion of a specific response.",
      "id": "CitationSource",
      "type": "object"
    },
    "GenerateMessageRequest": {
      "type": "object",
      "description": "Request to generate a message response from the model.",
      "properties": {
        "prompt": {
          "description": "Required. The structured textual input given to the model as a prompt. Given a prompt, the model will return what it predicts is the next message in the discussion.",
          "$ref": "MessagePrompt"
        },
        "topP": {
          "type": "number",
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`.",
          "format": "float"
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model."
        },
        "candidateCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of generated response messages to return. This value must be between `[1, 8]`, inclusive. If unset, this will default to `1`."
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GenerateMessageRequest"
    },
    "CreateFileResponse": {
      "description": "Response for `CreateFile`.",
      "id": "CreateFileResponse",
      "type": "object",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "Metadata for the created file."
        }
      }
    },
    "CountTextTokensResponse": {
      "id": "CountTextTokensResponse",
      "properties": {
        "tokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of tokens that the `model` tokenizes the `prompt` into. Always non-negative."
        }
      },
      "type": "object",
      "description": "A response from `CountTextTokens`. It returns the model's `token_count` for the `prompt`."
    },
    "ListChunksResponse": {
      "type": "object",
      "id": "ListChunksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        },
        "chunks": {
          "type": "array",
          "description": "The returned `Chunk`s.",
          "items": {
            "$ref": "Chunk"
          }
        }
      },
      "description": "Response from `ListChunks` containing a paginated list of `Chunk`s. The `Chunk`s are sorted by ascending `chunk.create_time`."
    },
    "TransferOwnershipResponse": {
      "type": "object",
      "description": "Response from `TransferOwnership`.",
      "properties": {},
      "id": "TransferOwnershipResponse"
    },
    "BatchDeleteChunksRequest": {
      "id": "BatchDeleteChunksRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteChunkRequest"
          },
          "description": "Required. The request messages specifying the `Chunk`s to delete.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request to batch delete `Chunk`s."
    },
    "ListPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Returned permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      },
      "type": "object",
      "id": "ListPermissionsResponse",
      "description": "Response from `ListPermissions` containing a paginated list of permissions."
    },
    "DeleteChunkRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the `Chunk` to delete. Example: `corpora/my-corpus-123/documents/the-doc-abc/chunks/some-chunk`"
        }
      },
      "id": "DeleteChunkRequest",
      "description": "Request to delete a `Chunk`.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Hyperparameters": {
      "type": "object",
      "properties": {
        "batchSize": {
          "format": "int32",
          "description": "Immutable. The batch size hyperparameter for tuning. If not set, a default of 4 or 16 will be used based on the number of training examples.",
          "type": "integer"
        },
        "epochCount": {
          "format": "int32",
          "description": "Immutable. The number of training epochs. An epoch is one pass through the training data. If not set, a default of 5 will be used.",
          "type": "integer"
        },
        "learningRateMultiplier": {
          "format": "float",
          "type": "number",
          "description": "Optional. Immutable. The learning rate multiplier is used to calculate a final learning_rate based on the default (recommended) value. Actual learning rate := learning_rate_multiplier * default learning rate Default learning rate is dependent on base model and dataset size. If not set, a default of 1.0 will be used."
        },
        "learningRate": {
          "type": "number",
          "format": "float",
          "description": "Optional. Immutable. The learning rate hyperparameter for tuning. If not set, a default of 0.001 or 0.0002 will be calculated based on the number of training examples."
        }
      },
      "id": "Hyperparameters",
      "description": "Hyperparameters controlling the tuning process. Read more at https://ai.google.dev/docs/model_tuning_guidance"
    },
    "BatchCreateChunksResponse": {
      "id": "BatchCreateChunksResponse",
      "properties": {
        "chunks": {
          "type": "array",
          "description": "`Chunk`s created.",
          "items": {
            "$ref": "Chunk"
          }
        }
      },
      "description": "Response from `BatchCreateChunks` containing a list of created `Chunk`s.",
      "type": "object"
    },
    "GroundingAttribution": {
      "description": "Attribution for a source that contributed to an answer.",
      "properties": {
        "sourceId": {
          "$ref": "AttributionSourceId",
          "readOnly": true,
          "description": "Output only. Identifier for the source contributing to this attribution."
        },
        "content": {
          "description": "Grounding source content that makes up this attribution.",
          "$ref": "Content"
        }
      },
      "type": "object",
      "id": "GroundingAttribution"
    },
    "Condition": {
      "id": "Condition",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "The string value to filter the metadata on."
        },
        "operation": {
          "description": "Required. Operator applied to the given key-value pair to trigger the condition.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL",
            "INCLUDES",
            "EXCLUDES"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by numeric.",
            "Supported by numeric.",
            "Supported by numeric & string.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`.",
            "Supported by string only when `CustomMetadata` value type for the given key has a `string_list_value`."
          ]
        },
        "numericValue": {
          "type": "number",
          "description": "The numeric value to filter the metadata on.",
          "format": "float"
        }
      },
      "description": "Filter condition applicable to a single key."
    },
    "ContentEmbedding": {
      "description": "A list of floats representing an embedding.",
      "properties": {
        "values": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "The embedding values."
        }
      },
      "id": "ContentEmbedding",
      "type": "object"
    },
    "UsageMetadata": {
      "type": "object",
      "description": "Metadata on the generation request's token usage.",
      "id": "UsageMetadata",
      "properties": {
        "promptTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of tokens in the prompt."
        },
        "candidatesTokenCount": {
          "format": "int32",
          "description": "Total number of tokens across the generated candidates.",
          "type": "integer"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total token count for the generation request (prompt + candidates)."
        }
      }
    },
    "TuningTask": {
      "properties": {
        "trainingData": {
          "description": "Required. Input only. Immutable. The model training data.",
          "$ref": "Dataset"
        },
        "snapshots": {
          "items": {
            "$ref": "TuningSnapshot"
          },
          "description": "Output only. Metrics collected during tuning.",
          "readOnly": true,
          "type": "array"
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when tuning this model completed.",
          "readOnly": true,
          "type": "string"
        },
        "hyperparameters": {
          "$ref": "Hyperparameters",
          "description": "Immutable. Hyperparameters controlling the tuning process. If not provided, default values will be used."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when tuning this model started.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Tuning tasks that create tuned models.",
      "id": "TuningTask"
    },
    "QueryDocumentRequest": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. Query string to perform semantic search."
        },
        "resultsCount": {
          "description": "Optional. The maximum number of `Chunk`s to return. The service may return fewer `Chunk`s. If unspecified, at most 10 `Chunk`s will be returned. The maximum specified result count is 100.",
          "type": "integer",
          "format": "int32"
        },
        "metadataFilters": {
          "type": "array",
          "items": {
            "$ref": "MetadataFilter"
          },
          "description": "Optional. Filter for `Chunk` metadata. Each `MetadataFilter` object should correspond to a unique key. Multiple `MetadataFilter` objects are joined by logical \"AND\"s. Note: `Document`-level filtering is not supported for this request because a `Document` name is already specified. Example query: (year \u003e= 2020 OR year \u003c 2010) AND (genre = drama OR genre = action) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = GREATER_EQUAL}, {int_value = 2010, operation = LESS}}, {key = \"chunk.custom_metadata.genre\" conditions = [{string_value = \"drama\", operation = EQUAL}, {string_value = \"action\", operation = EQUAL}}] Example query for a numeric range of values: (year \u003e 2015 AND year \u003c= 2020) `MetadataFilter` object list: metadata_filters = [ {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2015, operation = GREATER}]}, {key = \"chunk.custom_metadata.year\" conditions = [{int_value = 2020, operation = LESS_EQUAL}]}] Note: \"AND\"s for the same key are only supported for numeric values. String values only support \"OR\"s for the same key."
        }
      },
      "description": "Request for querying a `Document`.",
      "id": "QueryDocumentRequest"
    },
    "BatchEmbedTextRequest": {
      "id": "BatchEmbedTextRequest",
      "type": "object",
      "properties": {
        "texts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The free-form input texts that the model will turn into an embedding. The current limit is 100 texts, over which an error will be thrown."
        },
        "requests": {
          "items": {
            "$ref": "EmbedTextRequest"
          },
          "type": "array",
          "description": "Optional. Embed requests for the batch. Only one of `texts` or `requests` can be set."
        }
      },
      "description": "Batch request to get a text embedding from the model."
    },
    "AttributionSourceId": {
      "id": "AttributionSourceId",
      "type": "object",
      "properties": {
        "semanticRetrieverChunk": {
          "$ref": "SemanticRetrieverChunk",
          "description": "Identifier for a `Chunk` fetched via Semantic Retriever."
        },
        "groundingPassage": {
          "$ref": "GroundingPassageId",
          "description": "Identifier for an inline passage."
        }
      },
      "description": "Identifier for the source contributing to this attribution."
    },
    "EmbedTextResponse": {
      "properties": {
        "embedding": {
          "description": "Output only. The embedding generated from the input text.",
          "$ref": "Embedding",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The response to a EmbedTextRequest.",
      "id": "EmbedTextResponse"
    },
    "GroundingPassage": {
      "id": "GroundingPassage",
      "type": "object",
      "description": "Passage included inline with a grounding configuration.",
      "properties": {
        "content": {
          "$ref": "Content",
          "description": "Content of the passage."
        },
        "id": {
          "description": "Identifier for the passage for attributing this passage in grounded answers.",
          "type": "string"
        }
      }
    },
    "FunctionCall": {
      "id": "FunctionCall",
      "properties": {
        "args": {
          "type": "object",
          "description": "Optional. The function parameters and values in JSON object format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 63."
        }
      },
      "description": "A predicted `FunctionCall` returned from the model that contains a string representing the `FunctionDeclaration.name` with the arguments and their values.",
      "type": "object"
    },
    "GenerationConfig": {
      "id": "GenerationConfig",
      "properties": {
        "topK": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to consider when sampling. Models use nucleus sampling or combined Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by model, see the `Model.top_k` attribute of the `Model` returned from the `getModel` function. Empty `top_k` field in `Model` indicates the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "format": "int32"
        },
        "maxOutputTokens": {
          "type": "integer",
          "description": "Optional. The maximum number of tokens to include in a candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
          "format": "int32"
        },
        "candidateCount": {
          "type": "integer",
          "description": "Optional. Number of generated responses to return. Currently, this value can only be set to 1. If unset, this will default to 1.",
          "format": "int32"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and nucleus sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits number of tokens based on the cumulative probability. Note: The default value varies by model, see the `Model.top_p` attribute of the `Model` returned from the `getModel` function.",
          "format": "float",
          "type": "number"
        },
        "responseMimeType": {
          "type": "string",
          "description": "Optional. Output response mimetype of the generated candidate text. Supported mimetype: `text/plain`: (default) Text output. `application/json`: JSON response in the candidates."
        },
        "temperature": {
          "type": "number",
          "format": "float",
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0]."
        },
        "responseSchema": {
          "$ref": "Schema",
          "description": "Optional. Output response schema of the generated candidate text when response mime type can have schema. Schema can be objects, primitives or arrays and is a subset of [OpenAPI schema](https://spec.openapis.org/oas/v3.0.3#schema). If set, a compatible response_mime_type must also be set. Compatible mimetypes: `application/json`: Schema for JSON response."
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a stop sequence. The stop sequence will not be included as part of the response."
        }
      },
      "description": "Configuration options for model generation and outputs. Not all parameters may be configurable for every model.",
      "type": "object"
    },
    "TextCompletion": {
      "id": "TextCompletion",
      "type": "object",
      "description": "Output text returned from a model.",
      "properties": {
        "safetyRatings": {
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array",
          "description": "Ratings for the safety of a response. There is at most one rating per category."
        },
        "citationMetadata": {
          "readOnly": true,
          "description": "Output only. Citation information for model-generated `output` in this `TextCompletion`. This field may be populated with attribution information for any text included in the `output`.",
          "$ref": "CitationMetadata"
        },
        "output": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The generated text returned from the model."
        }
      }
    },
    "BatchUpdateChunksResponse": {
      "properties": {
        "chunks": {
          "description": "`Chunk`s updated.",
          "items": {
            "$ref": "Chunk"
          },
          "type": "array"
        }
      },
      "description": "Response from `BatchUpdateChunks` containing a list of updated `Chunk`s.",
      "type": "object",
      "id": "BatchUpdateChunksResponse"
    },
    "ListCorporaResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "corpora": {
          "description": "The returned corpora.",
          "type": "array",
          "items": {
            "$ref": "Corpus"
          }
        }
      },
      "description": "Response from `ListCorpora` containing a paginated list of `Corpora`. The results are sorted by ascending `corpus.create_time`.",
      "id": "ListCorporaResponse",
      "type": "object"
    },
    "ListDocumentsResponse": {
      "description": "Response from `ListDocuments` containing a paginated list of `Document`s. The `Document`s are sorted by ascending `document.create_time`.",
      "id": "ListDocumentsResponse",
      "properties": {
        "documents": {
          "description": "The returned `Document`s.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        }
      },
      "type": "object"
    },
    "Dataset": {
      "description": "Dataset for training or validation.",
      "properties": {
        "examples": {
          "$ref": "TuningExamples",
          "description": "Optional. Inline examples."
        }
      },
      "id": "Dataset",
      "type": "object"
    },
    "UpdateChunkRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to update. Currently, this only supports updating `custom_metadata` and `data`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "chunk": {
          "description": "Required. The `Chunk` to update.",
          "$ref": "Chunk"
        }
      },
      "id": "UpdateChunkRequest",
      "description": "Request to update a `Chunk`."
    },
    "TextPrompt": {
      "id": "TextPrompt",
      "description": "Text given to the model as a prompt. The Model will use this TextPrompt to Generate a text completion.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The prompt text."
        }
      },
      "type": "object"
    },
    "ListModelsResponse": {
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages."
        },
        "models": {
          "items": {
            "$ref": "Model"
          },
          "description": "The returned Models.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListModelsResponse"
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "type": "object",
      "description": "A set of the feedback metadata the prompt specified in `GenerateContentRequest.content`.",
      "properties": {
        "safetyRatings": {
          "type": "array",
          "description": "Ratings for safety of the prompt. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          }
        },
        "blockReason": {
          "description": "Optional. If set, the prompt was blocked and no candidates are returned. Rephrase your prompt.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Prompt was blocked due to safety reasons. You can inspect `safety_ratings` to understand which safety category blocked it.",
            "Prompt was blocked due to unknown reaasons."
          ],
          "enum": [
            "BLOCK_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER"
          ],
          "type": "string"
        }
      }
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "description": "Response for `ListFiles`.",
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "description": "The list of `File`s.",
          "items": {
            "$ref": "File"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as a `page_token` into a subsequent `ListFiles` call.",
          "type": "string"
        }
      }
    },
    "EmbedContentRequest": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`"
        },
        "outputDimensionality": {
          "description": "Optional. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024, and the earlier model (`models/embedding-001`) cannot specify this value.",
          "type": "integer",
          "format": "int32"
        },
        "taskType": {
          "type": "string",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION"
          ],
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification."
          ],
          "description": "Optional. Optional task type for which the embeddings will be used. Can only be set for `models/embedding-001`."
        },
        "title": {
          "type": "string",
          "description": "Optional. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval."
        },
        "content": {
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted.",
          "$ref": "Content"
        }
      },
      "description": "Request containing the `Content` for the model to embed.",
      "id": "EmbedContentRequest"
    },
    "TunedModel": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the tuned model.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The model is being created.",
            "The model is ready to be used.",
            "The model failed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when this model was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tuned model name. A unique name will be generated on create. Example: `tunedModels/az2mb0bpw6i` If display_name is set on create, the id portion of the name will be set by concatenating the words of the display_name with hyphens and adding a random portion for uniqueness. Example: display_name = \"Sentence Translator\" name = \"tunedModels/sentence-translator-u3b7m\""
        },
        "tuningTask": {
          "description": "Required. The tuning task that creates the tuned model.",
          "$ref": "TuningTask"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The name to display for this model in user interfaces. The display name must be up to 40 characters including spaces."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this model was created."
        },
        "temperature": {
          "format": "float",
          "type": "number",
          "description": "Optional. Controls the randomness of the output. Values can range over `[0.0,1.0]`, inclusive. A value closer to `1.0` will produce responses that are more varied, while a value closer to `0.0` will typically result in less surprising responses from the model. This value specifies default to be the one used by the base model while creating the model."
        },
        "description": {
          "type": "string",
          "description": "Optional. A short description of this model."
        },
        "topP": {
          "description": "Optional. For Nucleus sampling. Nucleus sampling considers the smallest set of tokens whose probability sum is at least `top_p`. This value specifies default to be the one used by the base model while creating the model.",
          "type": "number",
          "format": "float"
        },
        "topK": {
          "format": "int32",
          "description": "Optional. For Top-k sampling. Top-k sampling considers the set of `top_k` most probable tokens. This value specifies default to be used by the backend while making the call to the model. This value specifies default to be the one used by the base model while creating the model.",
          "type": "integer"
        },
        "baseModel": {
          "type": "string",
          "description": "Immutable. The name of the `Model` to tune. Example: `models/text-bison-001`"
        },
        "tunedModelSource": {
          "description": "Optional. TunedModel to use as the starting point for training the new model.",
          "$ref": "TunedModelSource"
        }
      },
      "description": "A fine-tuned model created using ModelService.CreateTunedModel.",
      "type": "object",
      "id": "TunedModel"
    },
    "BatchCreateChunksRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request messages specifying the `Chunk`s to create. A maximum of 100 `Chunk`s can be created in a batch.",
          "items": {
            "$ref": "CreateChunkRequest"
          }
        }
      },
      "id": "BatchCreateChunksRequest",
      "description": "Request to batch create `Chunk`s."
    },
    "ChunkData": {
      "properties": {
        "stringValue": {
          "description": "The `Chunk` content as a string. The maximum number of tokens per chunk is 2043.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Extracted data that represents the `Chunk` content.",
      "id": "ChunkData"
    },
    "FunctionCallingConfig": {
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE"
          ],
          "description": "Optional. Specifies the mode in which function calling should execute. If unspecified, the default value will be set to AUTO.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language repspose.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations."
          ]
        },
        "allowedFunctionNames": {
          "description": "Optional. A set of function names that, when provided, limits the functions the model will call. This should only be set when the Mode is ANY. Function names should match [FunctionDeclaration.name]. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration for specifying function calling behavior.",
      "id": "FunctionCallingConfig",
      "type": "object"
    },
    "SafetySetting": {
      "id": "SafetySetting",
      "description": "Safety setting, affecting the safety-blocking behavior. Passing a safety setting for a category changes the allowed probability that content is blocked.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Required. The category for this setting.",
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_DEROGATORY",
            "HARM_CATEGORY_TOXICITY",
            "HARM_CATEGORY_VIOLENCE",
            "HARM_CATEGORY_SEXUAL",
            "HARM_CATEGORY_MEDICAL",
            "HARM_CATEGORY_DANGEROUS",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_DANGEROUS_CONTENT"
          ],
          "enumDescriptions": [
            "Category is unspecified.",
            "Negative or harmful comments targeting identity and/or protected attribute.",
            "Content that is rude, disrespectful, or profane.",
            "Describes scenarios depicting violence against an individual or group, or general descriptions of gore.",
            "Contains references to sexual acts or other lewd content.",
            "Promotes unchecked medical advice.",
            "Dangerous content that promotes, facilitates, or encourages harmful acts.",
            "Harasment content.",
            "Hate speech and content.",
            "Sexually explicit content.",
            "Dangerous content."
          ]
        },
        "threshold": {
          "type": "string",
          "enumDescriptions": [
            "Threshold is unspecified.",
            "Content with NEGLIGIBLE will be allowed.",
            "Content with NEGLIGIBLE and LOW will be allowed.",
            "Content with NEGLIGIBLE, LOW, and MEDIUM will be allowed.",
            "All content will be allowed."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE"
          ],
          "description": "Required. Controls the probability threshold at which harm is blocked."
        }
      }
    },
    "Document": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The `Document` resource name. The ID (name excluding the \"corpora/*/documents/\" prefix) can contain up to 40 characters that are lowercase alphanumeric or dashes (-). The ID cannot start or end with a dash. If the name is empty on create, a unique name will be derived from `display_name` along with a 12 character random suffix. Example: `corpora/{corpus_id}/documents/my-awesome-doc-123a456b789c`"
        },
        "displayName": {
          "description": "Optional. The human-readable display name for the `Document`. The display name must be no more than 512 characters in length, including spaces. Example: \"Semantic Retriever Documentation\"",
          "type": "string"
        },
        "customMetadata": {
          "description": "Optional. User provided custom metadata stored as key-value pairs used for querying. A `Document` can have a maximum of 20 `CustomMetadata`.",
[...]
