{{/*
Base layout for the syzbot dashboard.
This template defines the overall structure of the page, including the header, body, and scripts.
*/}}
<!doctype html>
<html>
<head>
    {{template "partials/head.html" .Header}}
    <title>{{block "title" .}}syzbot{{end}}</title>
</head>
<body>
    {{template "partials/header.html" .Header}}
    <main class="container-fluid py-4">
        {{block "content" .}}
            <!-- This block will be filled by a specific page template -->
        {{end}}
    </main>
</body>
</html>
